dev2api/11092018.json
[{"id":"f824c88.b845138","type":"http in","z":"6f1d88a3.034e28","name":"/api/loginscreen","url":"/api/loginscreen","method":"get","upload":false,"swaggerDoc":"","x":102,"y":102,"wires":[["a7c1fcff.f4dc8"]]},{"id":"a7c1fcff.f4dc8","type":"function","z":"6f1d88a3.034e28","name":"Tree Params","func":"var init_load = [\n\t\t{\n\t\t\tpayload: {\n\t\t\t\tuser_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id,\n\t\t\t\tportal_id: \"47465f5fb22a9d9b0ec7ef7f72d03768\", //system_id,\n\t\t\t\tnode_name: \"testGroup\", //group_name_company,\n\t\t\t\tinclude_data:true,\n\t\t\t\tinclude_head:false,\n\t\t\t\ttree_owner_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id\n\t\t},\n\t\t\tfn_name: \"get_node_name_tree\"\n\t\t}\n\t];\n\t\nmsg.payload = init_load ;\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":307.0000114440918,"y":107.00000381469727,"wires":[["e42c51cc.eeae7"]]},{"id":"e42c51cc.eeae7","type":"Tree View","z":"6f1d88a3.034e28","database":"dev-platform2","username":"cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix","password":"426407e26d2a0052c0f3c66c1e809f9465bf7c9671cc0a49bdb5fabd674e1cfc","operation":"prod","x":462.0000228881836,"y":109.00000476837158,"wires":[["7ab218d2.546c98"]]},{"id":"f1fcbdb8.5438f","type":"inject","z":"6f1d88a3.034e28","name":"","topic":"start","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":165,"wires":[["a7c1fcff.f4dc8"]]},{"id":"7ab218d2.546c98","type":"function","z":"6f1d88a3.034e28","name":"Create Query","func":"// msg.payload = init_load ;\nnode.warn(msg.payload);\nvar myArr = [];\nvar data = [];\nmsg.payload[0].result.forEach(function(val,key){\n    if(val.my_display_attributes){\n        \n        data.push({\n            meta_data: {\n                to_page_id: val.my_display_attributes.to_page_id,\n                from_page_id: val.my_display_attributes.from_page_id,\n                header: val.my_display_attributes.header_template_id,\n                details: val.my_display_attributes.detail_id,\n                footer: val.my_display_attributes.footer_template_id\n            },\n            child_meta: {\n                to_page_id: val.my_child_display_attributes.to_page_id,\n                from_page_id: val.my_child_display_attributes.from_page_id,\n                header: val.my_child_display_attributes.header_template_id,\n                details: val.my_child_display_attributes.detail_id,\n                footer: val.my_child_display_attributes.footer_template_id\n            },\n            \n            page_id: null,\n            details: {\n                table: val.table,\n                value: val.value,\n                type: val.type,\n                required: val.required,\n                display_defualt: val.display_defualt,\n                seq: val.seq,\n                votes: val.votes,\n            }\n        });\n        \n        if(val.my_display_attributes.header_template_id){\n            myArr.push({\"_id\": val.my_display_attributes.header_template_id});\n        }\n        if(val.my_display_attributes.detail_id){\n            myArr.push({\"_id\": val.my_display_attributes.detail_id});\n        }\n        if(val.my_display_attributes.footer_template_id){\n            myArr.push({\"_id\": val.my_display_attributes.footer_template_id});\n        }\n        if(val.my_child_display_attributes.header_template_id){\n            myArr.push({\"_id\": val.my_child_display_attributes.header_template_id});\n        }\n        if(val.my_child_display_attributes.detail_id){\n            myArr.push({\"_id\": val.my_child_display_attributes.detail_id});\n        }\n        if(val.my_child_display_attributes.footer_template_id){\n            myArr.push({\"_id\": val.my_child_display_attributes.footer_template_id});\n        }\n        \n        \n        \n    }\n   \n})\n\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\nmsg.resData=data;\nnode.warn(msg);\nreturn msg;\n","outputs":1,"noerr":0,"x":646,"y":107.99999809265137,"wires":[["e6aa4864.ab8ef8"]]},{"id":"e6aa4864.ab8ef8","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":348.00000762939453,"y":157.0000114440918,"wires":[["67efec8a.217934"]]},{"id":"b03cab70.286238","type":"debug","z":"6f1d88a3.034e28","name":"Search Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":793.0935173034668,"y":212.7676181793213,"wires":[]},{"id":"67efec8a.217934","type":"function","z":"6f1d88a3.034e28","name":"Add templates into response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nmsg.resData.forEach(function(r_val,r_key){\n    msg.payload.docs.forEach(function(val,key){\n        var meta=msg.resData[r_key].meta_data;\n        var child=msg.resData[r_key].child_meta;\n        for (var prop in meta) {\n            if (meta.hasOwnProperty(prop) && meta[prop] === val._id) {\n                \n                meta[prop]=val.html;\n            }\n        }\n        \n        for (var child_prop in child) {\n            if (child.hasOwnProperty(child_prop) && child[child_prop] === val._id) {\n                \n                child[child_prop]=val.html;\n            }\n        }\n        \n        msg.resData[r_key].meta_data=meta;\n        msg.resData[r_key].child_meta=child;\n    })\n})\n\n\nmsg.payload=msg.resData;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":588.9999732971191,"y":160.00001525878906,"wires":[["b03cab70.286238","58640779.0f5788"]]},{"id":"58640779.0f5788","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":833.0000114440918,"y":161.0000286102295,"wires":[]},{"id":"8aa25d74.53ee7","type":"comment","z":"6f1d88a3.034e28","name":"API to get login page","info":"","x":146.5,"y":42,"wires":[]},{"id":"eb52cc44.d9f72","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":1261.0174255371094,"y":686.3438129425049,"wires":[["9fb35249.ec467"]]},{"id":"a61af629.ba1aa8","type":"debug","z":"6f1d88a3.034e28","name":"Search Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1677.0173873901367,"y":746.3438529968262,"wires":[]},{"id":"60b6490.ee5eeb8","type":"function","z":"6f1d88a3.034e28","name":"Assign template to response","func":"// msg.payload = init_load ;\nnode.warn(msg);\n// var meta=msg.resData[0].meta_data;\n// var child=msg.resData[0].child_meta;\nmsg.payload.docs.map(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.footer.html = val.html;\n    }\n    \n    if (msg.dataResponse.footer.add_record_page_template === val._id) {\n        msg.dataResponse.footer.add_record_page_template = val.html;\n    }\n    \n    // if (msg.dataResponse.footer.page_templates.text === val._id) {\n    //     msg.dataResponse.footer.page_templates.text = val.html;\n    // }\n    // if (msg.dataResponse.footer.page_templates.number === val._id) {\n    //     msg.dataResponse.footer.page_templates.number = val.html;\n    // }\n    // if (msg.dataResponse.footer.page_templates.dropdown === val._id) {\n    //     msg.dataResponse.footer.page_templates.dropdown = val.html;\n    // }\n    // if (msg.dataResponse.footer.page_templates.boolean === val._id) {\n    //     msg.dataResponse.footer.page_templates.boolean = val.html;\n    // }\n    // if (msg.dataResponse.footer.page_templates.list === val._id) {\n    //     msg.dataResponse.footer.page_templates.list = val.html;\n    // }\n    \n    \n    if (msg.dataResponse.details.html.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.details.html.html = val.html;\n        \n    }\n    \n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n           \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n    \n})\n\nmsg.payload=msg.resData;\nmsg.payload={success: true, message: \"ok\", data: msg.dataResponse };\n\nreturn msg;","outputs":1,"noerr":0,"x":1557.9239082336426,"y":695.5762567520142,"wires":[["a61af629.ba1aa8","9fc2138d.c7abb"]]},{"id":"9fc2138d.c7abb","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":1841.9239082336426,"y":681.5762567520142,"wires":[]},{"id":"86ae49a6.0e5c58","type":"comment","z":"6f1d88a3.034e28","name":"API to get list for Front Page - homepage","info":"","x":731.5173873901367,"y":443.3437795639038,"wires":[]},{"id":"d63fec7c.6130a","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\nvar user_id = \"47465f5fb22a9d9b0ec7ef7f72d03768\";\nmsg.payload = {\n    // query: \"page_name:page1 or user_id:\" + user_id\n    // query: \"page_name:page1\"\n    // query: \"page_name:page1 AND (user_id:\"+msg.req.query.user_id + \" OR user_id: 47465f5fb22a9d9b0ec7ef7f72d03768), sort: seq\",\n    // \"sort\":[{\n    //      \"seq:number\":\"desc\"\n    //  }],\n     \n     \"selector\":{\n        \"$or\":[{\n        \"page_name\":'page1',\n         \"visible\": true,\n         \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n        },{_id:'d639ccdcc7f597d7beaa4e3cf29f84b9'}]\n        //  \"$or\":[{'user_id':'d4cc1fe9004c421cf9df81727eaa2652'}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n     },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n          \"seq\": \"asc\"\n     }],\n    //  \"sort\":['visible'],\n    //  \"limit\":2\n    \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":885.5208053588867,"y":565.027829170227,"wires":[["ae5483c4.75576"]]},{"id":"a6165eff.36441","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\n\nmsg.payload = msg.payload.docs;\nif(msg.payload.length===0){\n    \n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.from_page_id,\n        \"current_page_id\" :msg.req.query.current_page_id\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:{htmk:null}};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n}\n\nmsg.payload.forEach(function(val,key){\n    \n    var contentKeyValue={};\n   \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{ //if its not pulldown\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n    }\n    \n    //if value is blank \n    if(Object.keys(contentKeyValue).length===0){\n        // contentKeyValue=val.template_config.key_name;\n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n            var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n            \n        }\n    }\n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue,dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n        if(dataHTML.length<1){\n            dataHTML={html:'list_child_d'};\n            myArr.push({\"_id\": 'list_child_d'});\n        }\n        \n        if(dataHeader.length<1){\n            dataHeader={html:'list_child_h',from_page_id: val.from_page_id, from_page_name: msg.req.query.from_page_name, current_page_id:msg.req.query.current_page_id};\n            myArr.push({\"_id\": 'list_child_h'});\n            \n        }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n                \n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n            \n            \n        }\n        \n        \n})\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n \nnode.warn(dataValues);\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n    \n    \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1380,"y":860,"wires":[["16cd6d21.4a62c3"]]},{"id":"16cd6d21.4a62c3","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":953.0174331665039,"y":961.5661821365356,"wires":[["2d2e2647.6b3afa"]]},{"id":"97e9819c.e67f6","type":"debug","z":"6f1d88a3.034e28","name":"Search Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1443.0174713134766,"y":989.5662393569946,"wires":[]},{"id":"40a5ba8d.cef244","type":"function","z":"6f1d88a3.034e28","name":"Assign values to response","func":"node.warn(msg);\nmsg.payload.docs.forEach(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        msg.dataResponse.footer.html = val.html;\n    }\n    \n    if (msg.dataResponse.footer.add_record_page_template === val._id) {\n        msg.dataResponse.footer.add_record_page_template = val.html;\n    }\n    \n    if (msg.dataResponse.details.html.html === val._id) {\n        msg.dataResponse.details.html.html = val.html;\n        \n    }\n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n        \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n})\n\nmsg.payload=msg.resData;\n// msg.payload=msg.dataResponse;\nmsg.payload={success: msg.dataResponse.details.content.length?true:false, message: msg.dataResponse.details.content.length?\"ok\":\"No Data Found\", data: msg.dataResponse };\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":1186.923843383789,"y":958.798698425293,"wires":[["97e9819c.e67f6","13a54c34.682e54"]]},{"id":"13a54c34.682e54","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":1448.9238920211792,"y":951.7986583709717,"wires":[]},{"id":"9193607a.047b4","type":"comment","z":"6f1d88a3.034e28","name":"API to go to child page - getchild","info":"","x":733.5173492431641,"y":757.5660343170166,"wires":[]},{"id":"dee8f93d.9e2c08","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\nvar user_id = \"47465f5fb22a9d9b0ec7ef7f72d03768\";\nmsg.payload = {\n    // query: \"page_name:'page1' AND user_id:\" + user_id\n    // query: \"page_name:\"+msg.req.query.to_page_id + \" AND user_id:\"+msg.req.query.user_id\n    // query: \"page_name:\"+msg.req.query.to_page_id + \" AND (user_id:\"+msg.req.query.user_id + \" OR user_id: 47465f5fb22a9d9b0ec7ef7f72d03768)\"\n\n    // \"selector\":{\n    //      \"page_name\": msg.req.query.to_page_id,\n    //       \"visible\": true,\n    //     //  \"page_name\":\"1528875784705\",\n    //      \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'},{_id: msg.req.query.current_pagedb_id}],\n    //  },\n     \n    \"selector\":{\n        \"$or\": [{\n         \"page_name\": msg.req.query.to_page_id,\n          \"visible\": true,\n        //  \"page_name\":\"1528875784705\",\n         \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n        },{_id: msg.req.query.currentPagedb_id}]\n             \n    },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n         \"seq\":\"asc\"\n     }],\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":928.5208460489907,"y":854.2500689824423,"wires":[["f3d2e735.d58388"]]},{"id":"473803fe.c07f2c","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":917.0000667572021,"y":1298.7884254455566,"wires":[["66223c37.5b0574"]]},{"id":"835fe2f7.0bb5","type":"debug","z":"6f1d88a3.034e28","name":"Search Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1318.0000553131104,"y":1350.788447380066,"wires":[]},{"id":"c870c6e1.104428","type":"function","z":"6f1d88a3.034e28","name":"Assign values to response","func":"// msg.payload = init_load ;\nnode.warn(msg);\n\nmsg.payload.docs.map(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        msg.dataResponse.footer.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.details.html.html === val._id) {\n        msg.dataResponse.details.html.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.add_record_page_template === val._id) {\n        msg.dataResponse.footer.add_record_page_template = val.html;\n    }\n    \n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n           \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n    \n})\n\nmsg.payload=msg.resData;\nmsg.payload=msg.dataResponse;\n\n// node.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":1187.906581878662,"y":1296.0208197832108,"wires":[["835fe2f7.0bb5","c0bc16f0.d2e238"]]},{"id":"c0bc16f0.d2e238","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":1497.9065494537354,"y":1294.020869255066,"wires":[]},{"id":"28775ee.062f2a2","type":"comment","z":"6f1d88a3.034e28","name":"API to go to back page - back","info":"","x":681.5,"y":1086.7884101867676,"wires":[]},{"id":"bd4bd0fa.63a23","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\nvar user_id = \"47465f5fb22a9d9b0ec7ef7f72d03768\";\nvar qr1 = [{\"page_name\":msg.req.query.from_page_id}];\n//, {'template_config.page_name':msg.req.query.from_page_id}\nmsg.payload = {\n    \"selector\":{\n        //  \"page_name\":msg.req.query.from_page_id,\n        //  \"$or\":[{\"page_name\":msg.req.query.from_page_id}, {'template_config.page_name':msg.req.query.from_page_id}],\n        //  \"visible\": true,\n        //  \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}]\n         \n        //  \"$or\":[{\"page_name\":msg.req.query.from_page_id}, {'template_config.page_name':msg.req.query.from_page_id}],\n        \"$or\":[{\n        \"visible\": true,\n        \"$and\": [{\"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}]}, {\"$or\":qr1}] \n        },{_id:msg.req.query.fromPagedb_id}] \n        // _id:msg.req.query.fromPagedb_id\n     },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n         \"seq\":\"asc\"\n     }],\n    \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900.5034739176431,"y":1185.472464879354,"wires":[["febd6be.9e4d498"]]},{"id":"ac56ee86.70551","type":"switch","z":"6f1d88a3.034e28","name":"","property":"recordFound","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1081.0173835754395,"y":650.2327136993408,"wires":[["45dc30ff.748ed"],["eb52cc44.d9f72"]]},{"id":"45dc30ff.748ed","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":1267.0174179077148,"y":643.23264503479,"wires":[]},{"id":"f201f31e.5b1db","type":"function","z":"6f1d88a3.034e28","name":"phone","func":"node.warn(msg);\nif(msg.user_data.params.action=='update'){\n    if(msg.user_data.params.renumberAll){\n        var renumber=[];\n        msg.user_data.params.record.forEach(function(val,key){\n            renumber.push({\"_id\":val.id})\n        })\n        \n        msg.payload = {\n            // query: \"table:users AND virtual_phone:\" + msg.user_data.phone\n            selector: {$or: renumber}\n            // \"_id\": msg.user_data.params.record.id\n        };\n    }else{\n        msg.payload = {\n            // query: \"table:users AND virtual_phone:\" + msg.user_data.phone\n            selector: {\"_id\": msg.user_data.params.record.id}\n            // \"_id\": msg.user_data.params.record.id\n        };\n    }\n    \n    msg.action=\"update\";\n}else{\n    var pageName = '';\n    var edit_templates = {};\n    var front_templates = {};\n    var list_templates = {};\n    var headerTemplate = msg.user_data.params.page_id==='page1'?'front_header':'list_child_h';\n    if(msg.user_data.params.record.recordType=='number'){\n        edit_templates = {\n          \"detail\": {\n            \"details_template_id\": \"edit_text_d\"\n          },\n          \"header\": {\n            \"header_template_id\": \"edit_h\"\n          },\n          \"footer\": {\n            \"footer_template_id\": \"\"\n          }\n        } \n        front_templates = {\n          \"detail\": {\n            \"details_template_id\": \"list_child_d\"\n          }\n        }\n    }else if(msg.user_data.params.record.recordType=='list'){\n        pageName = \"page_\"+String(Date.now());\n        edit_templates = {\n          \"detail\": {\n            \"details_template_id\": \"edit_text_d\"\n          },\n          \"header\": {\n            \"header_template_id\": \"edit_h\"\n          },\n          \"footer\": {\n            \"footer_template_id\": \"\"\n          }\n        }\n        front_templates = {\n          \"detail\": {\n            \"details_template_id\": \"list_child_d\"\n          }\n        }\n        \n        \n        \n        list_templates = {\n            \"header\": {\n              \"template_ids\": [\n                headerTemplate\n              ],\n              \"template_config\": {\n                \"page_name\": \"\"\n              }\n            },\n            \"footer\": {\n              \"template_ids\": [\n                \"footer\"\n              ],\n              \"template_config\": {\n                \"page_name\": \"\"\n              }\n            },\n            \"details\": {\n              \"template_ids\": [\n                \"front_details\"\n              ],\n              \"template_config\": {\n                \"page_name\": \"\"\n              }\n            }\n          }\n  \n    }else{\n        edit_templates = {\n          \"detail\": {\n            \"details_template_id\": \"edit_text_d\"\n          },\n          \"header\": {\n            \"header_template_id\": \"edit_h\"\n          },\n          \"footer\": {\n            \"footer_template_id\": \"\"\n          }\n        } \n        front_templates = {\n          \"detail\": {\n            \"details_template_id\": \"list_child_d\"\n          }\n        }\n    }\n    \n    \n    \n    msg.payload={docs: []};\n    msg.payload.docs.push({\n        // query: \"table:users AND virtual_phone:\" + msg.user_data.phone\n        // selector: {\"_id\": \"18b4ce8a1cb8acb37f4e2e5f1d38ea36\"}\n        // \"_id\": msg.user_data.params.record.id\n      \"table\": msg.user_data.params.record.recordType,\n      \"user_id\": \"47465f5fb22a9d9b0ec7ef7f72d03768\",\n      \"page_name\": msg.user_data.params.page_id,\n      \"from_page_id\": msg.user_data.params.from_page_id,\n      \"reference\": {\n        \"ref1\": \"\"\n      },\n      \"type\": msg.user_data.params.record.recordType,\n      \"value\": {},\n      \"value_id\": \"\",\n      \"visible\": true,\n      \"template_id\": {\n        \"edit_templates\": edit_templates,\n        \"front_templates\": front_templates\n        \n      },\n      \"template_config\": {\n        \"required\": \"false\",\n        \"display_default\": \"\",\n        \"key_name\": {\n          \"key\": msg.user_data.params.record.key?msg.user_data.params.record.key:'v1',\n          \"value\": msg.user_data.params.record.value,\n          \"default\": msg.user_data.params.record.default\n        },\n        \"page_name\": pageName\n      },\n      \"seq\": msg.user_data.params.record.seq,\n      'list_templates': list_templates,\n      \"query_data\": {\n        \"votes\": {},\n        \"lineage\": {\n          \"parent_id\": \"\",\n          \"user_id\": msg.user_data.params.user_id,\n        }\n      }\n\n    });\n    msg.action=\"create\";\n    msg.recordAction = 'create';\n    msg.user_data.params.user_id = \"47465f5fb22a9d9b0ec7ef7f72d03768\";\n}\n\nnode.warn(msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":529.0000877380371,"y":2157.1111068725586,"wires":[["fa161b4a.6e51a8"]]},{"id":"3315ee92.c9e172","type":"http in","z":"6f1d88a3.034e28","name":"Add/Update","url":"/api/update","method":"post","upload":false,"swaggerDoc":"","x":150.9999885559082,"y":2140.1110668182373,"wires":[["a55959ee.31d368"]]},{"id":"29930fb5.0f993","type":"debug","z":"6f1d88a3.034e28","name":"API Login ","active":true,"console":"false","complete":"true","x":880.0001411437988,"y":2371.111617088318,"wires":[]},{"id":"7fe6fc14.0b9f74","type":"comment","z":"6f1d88a3.034e28","name":"Update Records","info":"","x":155.24217224121094,"y":2083.7126245498657,"wires":[]},{"id":"27aae1ca.dac5ce","type":"function","z":"6f1d88a3.034e28","name":"dri_list","func":"node.warn(msg);\nmsg.payload.docs.forEach(function(numVal, numkey){\n    // node.warn(msg.user_data.params.record.length);\n    if(msg.user_data.params.renumberAll){\n        var indx = msg.user_data.params.record.findIndex(item=>item.id==numVal._id);\n    }\n\n\nif(numVal.user_id==msg.user_data.params.user_id || msg.user_data.params.undo_deleted || msg.user_data.params.updateTable){\n    //undo deleted record\n    if(msg.user_data.params.undo_deleted){\n        numVal.visible = true;\n    }\n    //if updating sec only\n    if(msg.user_data.params.updateField=='seq'){\n        numVal.seq = msg.user_data.params.renumberAll?msg.user_data.params.record[indx].seq:msg.user_data.params.record.seq;\n        // node.warn(numVal.seq);\n    }if(msg.user_data.params.updateTable && msg.user_data.params.updateTable=='user'){\n        numVal.device_id = msg.user_data.params.device_id;\n    }else{ //if updating key or value\n    \n        numVal.value={};\n        numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        node.warn(\"UPDATE KEYS\")\n        // if(numVal.template_config.key_name.default){\n           \n        //     // numVal.value = msg.user_data.params.record.content;\n        //     numVal.value={};\n        //     numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        //     node.warn(\"UPDATE KEYS\")\n        // }else{\n            \n        //     if(Object.keys(numVal.value).length){\n        //         node.warn(\"UPDATE KEYS2\")\n        //         numVal.value={};\n        //         numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        //     }else{\n        //         node.warn(\"UPDATE KEYS3\")\n        //         numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        //     }\n            \n        // }\n    }\n    numVal.updated_at = Date.now();\n    msg.recordAction = 'update';\n}else{\n     msg.recordAction = 'create';\n     node.warn(\"creating record\")\n    // node.warn(\"cominghere\")\n    if(msg.user_data.params.renumberAll){\n        numVal.value[msg.user_data.params.record[indx].content.key] = msg.user_data.params.record[indx].content.value;\n        numVal.seq = msg.user_data.params.record[indx].seq;\n        \n    }else{\n        numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        numVal.seq = msg.user_data.params.record.seq;\n        \n    }\n   \n    numVal.user_id = msg.user_data.params.user_id;\n    numVal.query_data.lineage.edited_node_id = numVal._id;\n    numVal.query_data.lineage.user_id = msg.user_data.params.user_id;\n    numVal.reference = {\"ref1\": msg.user_data.params.user_id};\n    numVal.created_at = Date.now();\n    numVal.updated_at = Date.now();\n    \n    \n    \n    // node.warn(msg.user_data.params.record)\n    delete numVal['_id'];\n    delete numVal['_rev'];\n    \n}\n})\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":1020.0000762939453,"y":2126.111391067505,"wires":[["b066acf0.dde1"]]},{"id":"a55959ee.31d368","type":"change","z":"6f1d88a3.034e28","name":"Move to user_data","rules":[{"t":"move","p":"payload","pt":"msg","to":"user_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":348.9999885559082,"y":2141.1110668182373,"wires":[["996b3ec7.90d5c"]]},{"id":"221be7e4.833ad8","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":415.000057220459,"y":2348.111614227295,"wires":[]},{"id":"fa161b4a.6e51a8","type":"switch","z":"6f1d88a3.034e28","name":"dri_list","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"create","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":669.0173110961914,"y":2138.5659790039062,"wires":[["407108f3.f4c078"],["b066acf0.dde1"]]},{"id":"9575a3a4.5d1f8","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"node.warn(msg);\nmsg.payload = msg.payload.docs;\nnode.warn(msg.payload.length);\n\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nvar page_heading = '';\nvar page_heading_id = '';\n\n\nif(msg.payload.length===0){\n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.from_page_id,\n        \"current_page_id\" :msg.req.query.current_page_id\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:{htmk:null}};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n\n\n    msg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    if(val.template_config.key_name.default){\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        \n        \n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n        }\n        \n    }\n    \n    //get current page heading \n    if(val.template_config.page_name==msg.req.query.from_page_id){\n       page_heading =  contentKeyValue.value; \n       page_heading_id = val._id;\n    }\n    \n    //get edit page template\n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n    if(dataHTML.length<1 && val.template_id.front_templates){\n        dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n        myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n    }\n        \n    if(dataHeader.length<1 ){\n        if((val.list_templates && Object.keys(val.list_templates).length)){\n            // dataHeader={html:val.list_templates.header.template_ids[0], from_page_id: msg.req.query.from_page_id, from_page_name: msg.req.query.from_page_name, current_page_id:msg.req.query.from_page_id};\n\n            dataHeader={html:val.list_templates.header.template_ids[0], from_page_name: msg.req.query.from_page_name, current_page_id:msg.req.query.from_page_id};\n\n            if(val.page_name){\n                // dataHeader.from_page_id=val.from_page_id;\n                dataHeader.from_page_id=val.from_page_id;\n            }\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            node.warn(\"coming in IF\")\n            \n        }else{\n            var header_id = msg.req.query.from_page_id=='page1'?'front_header': 'list_child_h';\n            dataHeader={html:header_id, from_page_name: page_heading, current_page_id:msg.req.query.from_page_id};\n            if(val.page_name){\n                dataHeader.from_page_id=val.from_page_id;\n                \n            }\n            myArr.push({\"_id\": header_id});\n            node.warn(\"coming in else\")\n            node.warn(dataHeader.from_page_id)\n        }\n    }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // dataFooter={html:val.list_templates.footer.template_ids[0]};\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n        }else{\n            dataFooter={\n                html:\"footer\",\n                add_record_page_template: \"add_record_page_template\"\n            };\n            myArr.push({\"_id\": dataFooter.html});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n        }\n        \n})\n\nif(page_heading){\n    dataHeader.from_page_name=page_heading;\n}else{\n    dataHeader.from_page_name=\"Home Page\";\n}\n\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n    if(dataValues.findIndex(item=> item.id == page_heading_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == page_heading_id),1)\n        node.warn(\"position\");\n        node.warn(dataValues.findIndex(item=> item.id == page_heading_id));\n    }\n    \n    \n })\n \n\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1242.0173403422036,"y":1186.7883303960166,"wires":[["473803fe.c07f2c"]]},{"id":"ae5483c4.75576","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":1063.017391204834,"y":564.7882223129272,"wires":[["ad59705d.6574"]]},{"id":"f3d2e735.d58388","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":1101.0173670450845,"y":854.566040356954,"wires":[["204e9e85.31d002"]]},{"id":"febd6be.9e4d498","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":1058.017344156901,"y":1187.1216624577842,"wires":[["9488b5f0.5b8318"]]},{"id":"b066acf0.dde1","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_bulk_docs","tls":"","x":842.0174293518066,"y":2220.566146850586,"wires":[["a683dec7.7e6d5"]]},{"id":"407108f3.f4c078","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":840.0174407958984,"y":2130.5661277770996,"wires":[["27aae1ca.dac5ce"]]},{"id":"dea404a2.686178","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"node.warn(msg);\nmsg.payload = msg.payload.docs;\n// node.warn(msg.payload);\nif(msg.payload.length===0){\n    msg.payload={success: false, message: \"No data found\", data: null };\n    msg.recordFound=0;\n    return msg;\n}else{\n    msg.recordFound=1;\n\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nmsg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n            node.warn(key1);\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n            node.warn(key2);\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n        }\n        \n    }\n    \n    if(val.template_id.edit_templates){\n        \n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        \n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n        //User data wins over default data\n        // // node.warn(dataValues);\n        // if(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id)  !== -1){\n        //     // node.warn(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id))\n        //     // node.warn(msg.payload);\n        //     msg.payload.splice(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id),1)\n        //     // msg.payload.splice(0,1)\n        // }\n        \n        // //User data wins over default data\n        // if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        //     //node.warn(val.query_data.lineage.edited_node_id)\n        //     dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n        // }\n        \n        // node.warn(val.template_id.front_templates.detail.details_template_id);\n        //         val.template_id.edit_templates.detail.details_template_id\n        \n        if(dataHTML.length<1 && val.template_id.edit_templates){\n            dataHTML={html:val.template_id.edit_templates.detail.details_template_id, from_page_name: 'Home Page'};\n            myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        }\n        \n        \n        if(dataHeader.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            node.warn(val.list_templates)\n            dataHeader={html:val.list_templates.header.template_ids[0],from_page_id: val.page_name, from_page_name: msg.req.query.from_page_name};\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            \n        }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            dataFooter={html:val.list_templates.footer.template_ids[0]};\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n        }\n        \n})\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n        \n        \ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\nmsg.dataResponse=dataResponse;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1213.9999618530273,"y":1556.444354057312,"wires":[["94594667.576f48"]]},{"id":"9c8890e2.29e56","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":1132,"y":1662.4445037841797,"wires":[["23a6e.8698c5928"]]},{"id":"d878a051.3d271","type":"debug","z":"6f1d88a3.034e28","name":"Search Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1594.0001068115234,"y":1697.4445066452026,"wires":[]},{"id":"73516066.1f5af","type":"function","z":"6f1d88a3.034e28","name":"Assign template to response","func":"// msg.payload = init_load ;\nnode.warn(msg);\n// var meta=msg.resData[0].meta_data;\n// var child=msg.resData[0].child_meta;\nmsg.payload.docs.map(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.footer.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.details.html.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.details.html.html = val.html;\n        \n    }\n    \n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n           \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n    \n})\n\nmsg.payload=msg.resData;\nmsg.payload={success: true, message: \"ok\", data: msg.dataResponse };\n\nreturn msg;","outputs":1,"noerr":0,"x":1375.9065399169922,"y":1660.6769533157349,"wires":[["d878a051.3d271","3d3f5eb9.88b522"]]},{"id":"3d3f5eb9.88b522","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":1614.9065284729004,"y":1653.6769790649414,"wires":[]},{"id":"6c5522c3.43a77c","type":"comment","z":"6f1d88a3.034e28","name":"API to sort the list - sorting","info":"","x":621.5000762939453,"y":1441.4445371627808,"wires":[]},{"id":"57051252.db1bbc","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\n// var user_id = msg.req.query.sorting==='default'?\"47465f5fb22a9d9b0ec7ef7f72d03768\":msg.req.query.user_id;\nvar query={};\nvar default_user = '47465f5fb22a9d9b0ec7ef7f72d03768';\nif(msg.req.query.sorting==='default'){\n    query = {\n        \"$or\": [{\n        \"page_name\":msg.req.query.pageId,\n        'user_id':default_user,\n        \"visible\": true,\n        }, {_id: msg.req.query.currentPagedb_id}]\n        \n    }\n        \n}else{\n    query = {\n        \"$or\": [{\n        \"page_name\":msg.req.query.pageId,\n        \"visible\": true,\n        \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': default_user}]\n        },{_id: msg.req.query.currentPagedb_id}]\n    };\n}\nmsg.payload = {\n    // query: \"page_name:page1 or user_id:\" + user_id\n    // query: \"page_name:page1\"\n    // query: \"page_name:page1 AND (user_id:\"+msg.req.query.user_id + \" OR user_id: 47465f5fb22a9d9b0ec7ef7f72d03768), sort: seq\",\n    // \"sort\":[{\n    //      \"seq:number\":\"desc\"\n    //  }],\n     \n     \"selector\":query,\n    //  {\n    //      \"page_name\":msg.req.query.pageId,\n    //     //  \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n    //     // 'user_id':user_id\n    //     query\n    //  },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n         \"seq\":\"asc\"\n     }],\n    //  \"limit\":2\n    \n};\n\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":862.5034637451172,"y":1555.1284637451172,"wires":[["5e286483.09fa2c"]]},{"id":"94594667.576f48","type":"switch","z":"6f1d88a3.034e28","name":"","property":"recordFound","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950.9999542236328,"y":1640.333339691162,"wires":[["b8836589.980868"],["9c8890e2.29e56"]]},{"id":"b8836589.980868","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":1116.9999885559082,"y":1622.3333377838135,"wires":[]},{"id":"5e286483.09fa2c","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":1022.9998989105225,"y":1553.8890419006348,"wires":[["8d332cdd.646f5"]]},{"id":"43f8a6e2.6ad168","type":"function","z":"6f1d88a3.034e28","name":"dri_list","func":"node.warn(msg);\nvar init_load = [\n\t\t {\n            payload: {\n                user_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id,\n                portal_id: msg.user_data.params.user_id, //company_id,\n                node_name: \"page1\",\n                data_id: msg.payload[0].id,// *CHANGE THIS *, \n                master_parents: [], //should be array in nature\n                tree_owner_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //tree_owner_id,\n                node_id: null,\n                target: \"child\",\n                parent_node_name: \"\",\n            },\n            fn_name: \"add_to_node_name_tree\"\n        }\n\t];\n\t\nmsg.payload = init_load ;\n//node.warn(msg.payload);\n// return msg;\n\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":408.90627670288086,"y":2410.7890815734863,"wires":[["ee0efc35.5da32"]]},{"id":"ee0efc35.5da32","type":"Tree View","z":"6f1d88a3.034e28","database":"dev-platform2","username":"cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix","password":"426407e26d2a0052c0f3c66c1e809f9465bf7c9671cc0a49bdb5fabd674e1cfc","operation":"prod","x":558.9062538146973,"y":2409.7889728546143,"wires":[["9c0d6c22.3f857"]]},{"id":"9c0d6c22.3f857","type":"function","z":"6f1d88a3.034e28","name":"dri_list","func":"node.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":718.3507308959961,"y":2408.7886486053467,"wires":[["29930fb5.0f993"]]},{"id":"a683dec7.7e6d5","type":"switch","z":"6f1d88a3.034e28","name":"dri_list","property":"recordAction","propertyType":"msg","rules":[{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"create","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":155.5243797302246,"y":2380.1326122283936,"wires":[["221be7e4.833ad8","29930fb5.0f993"],["95f1ce79.b6d02","43f8a6e2.6ad168"]]},{"id":"95f1ce79.b6d02","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":407.23975372314453,"y":2462.4552640914917,"wires":[]},{"id":"b847bc27.a6806","type":"http in","z":"6f1d88a3.034e28","name":"Delete Temporary","url":"/api/deletechild","method":"get","upload":false,"swaggerDoc":"","x":168.9999885559082,"y":2641.1111516952515,"wires":[["9b3a3abb.3df328"]]},{"id":"177e9b8b.928a54","type":"http response","z":"6f1d88a3.034e28","name":"Response","statusCode":"","headers":{},"x":908.9999885559082,"y":2641.1111516952515,"wires":[]},{"id":"35906f9f.c1411","type":"function","z":"6f1d88a3.034e28","name":"bulk delete function","func":"node.warn(msg.payload);  \nmsg.payload.docs[0].visible=false;\n// var count = msg.payload.docs.length;\n// var list = [];\n// var data_ids = [];\n// for (i=0;i<count;i++) {\n//     list.push({\n//         _id: msg.payload.docs[i]._id,\n//         _rev: msg.payload.docs[i]._rev,\n//         _deleted: true\n//     });\n//     if(msg.req.query.record_id!=msg.payload.docs[i]._id){\n//         data_ids.push({\"data_id\":msg.payload.docs[i]._id})\n//     }\n    \n// }\n\n// // if (i == 0) {\n// // msg.payload = \"No documents were found.  The database is empty!\";\n// // return [null, msg];\n// // }\n// if(data_ids.length){\n//     msg.payload={\n//         \"selector\": {\n//             \"$or\": data_ids\n//         }\n//     }\n//     msg.deleteList = list; \n// }else{\n//     msg.payload = {\n//                 \"docs\": \n//                 list\n//               } \n// }\n\n\n\n\nnode.warn(msg);  \nreturn msg;","outputs":1,"noerr":0,"x":498.9999885559082,"y":2701.1111516952515,"wires":[["815adbc5.fd5628"]]},{"id":"73d6de53.d33ea","type":"debug","z":"6f1d88a3.034e28","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":878.9999885559082,"y":2681.1111516952515,"wires":[]},{"id":"9b3a3abb.3df328","type":"function","z":"6f1d88a3.034e28","name":"Query Object","func":"node.warn(msg);\nmsg.payload={\n    \"selector\": {\n        \"_id\": msg.req.query.record_id\n        // \"$or\": [\n        //     {\"_id\": msg.req.query.record_id}, //msg.req.query.record_id\n        //     // {\"data_id\": msg.req.query.record_id},\n        //     // {\"query_data.lineage.edited_node_id\":msg.req.query.record_id}\n        // ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":348.50695419311523,"y":2653.020895957947,"wires":[["f9d5f7d0.127098"]]},{"id":"f9d5f7d0.127098","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":530.9826316833496,"y":2612.1007375717163,"wires":[["35906f9f.c1411"]]},{"id":"815adbc5.fd5628","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_bulk_docs","tls":"","x":704.9999656677246,"y":2644.1111516952515,"wires":[["177e9b8b.928a54","73d6de53.d33ea"]]},{"id":"d9c069f7.241058","type":"comment","z":"6f1d88a3.034e28","name":"API to Delete Record (Make Active/inactive)","info":"","x":270.9826316833496,"y":2572.1007375717163,"wires":[]},{"id":"f7cae3e6.8b84c","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":930.0000381469727,"y":1996.555850982666,"wires":[["f6765496.311cc8"]]},{"id":"97fa9aca.995288","type":"debug","z":"6f1d88a3.034e28","name":"Search Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1393.0000457763672,"y":2032.5558423995972,"wires":[]},{"id":"803c13c0.c14f3","type":"function","z":"6f1d88a3.034e28","name":"Assign template to response","func":"// msg.payload = init_load ;\nnode.warn(msg);\n// var meta=msg.resData[0].meta_data;\n// var child=msg.resData[0].child_meta;\nmsg.payload.docs.map(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.footer.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.details.html.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.details.html.html = val.html;\n        \n    }\n    \n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n           \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n    \n})\n\nmsg.payload=msg.resData;\nmsg.payload={success: true, message: \"ok\", data: msg.dataResponse };\n\nreturn msg;","outputs":1,"noerr":0,"x":1170.9065017700195,"y":1993.788140296936,"wires":[["97fa9aca.995288","ebdd25f9.23ae18"]]},{"id":"ebdd25f9.23ae18","type":"http response","z":"6f1d88a3.034e28","name":"","statusCode":"","headers":{},"x":1410.9065322875977,"y":1979.7881660461426,"wires":[]},{"id":"f580b50c.6d2418","type":"comment","z":"6f1d88a3.034e28","name":"API to get deleted records - showdeletedRecords","info":"","x":709.4999694824219,"y":1785.5560493469238,"wires":[]},{"id":"cadec980.9dec98","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\n// var user_id = msg.req.query.sorting==='default'?\"47465f5fb22a9d9b0ec7ef7f72d03768\":msg.req.query.user_id;\nvar query={};\nvar default_user = '47465f5fb22a9d9b0ec7ef7f72d03768';\n// var querydata=JSON.parse(msg.req.query); \n// node.warn(JSON.parse(msg.req.query.show_deleted));\nif(msg.req.query.show_deleted===\"true\"){\n    query = {\n        \"$or\":[{\n        \"page_name\":msg.req.query.pageId,\n        \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': default_user}],\n        \"visible\": false\n        },{_id: msg.req.query.pageId}]\n        \n    }\n}else{\n    query = {\n        \"$or\":[{\n           \"page_name\":msg.req.query.pageId,\n            \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': default_user}],\n            \"visible\": true \n        },{_id: msg.req.query.pageId}]\n        \n    };\n}\nmsg.payload = {\n    // query: \"page_name:page1 or user_id:\" + user_id\n    // query: \"page_name:page1\"\n    // query: \"page_name:page1 AND (user_id:\"+msg.req.query.user_id + \" OR user_id: 47465f5fb22a9d9b0ec7ef7f72d03768), sort: seq\",\n    // \"sort\":[{\n    //      \"seq:number\":\"desc\"\n    //  }],\n     \n     \"selector\":query,\n    //  {\n    //      \"page_name\":msg.req.query.pageId,\n    //     //  \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n    //     // 'user_id':user_id\n    //     query\n    //  },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n         \"seq\":\"asc\"\n     }],\n    //  \"limit\":2\n    \n};\n\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":858.5034675598145,"y":1874.2400388717651,"wires":[["73b2b447.7324cc"]]},{"id":"73b2b447.7324cc","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":1042.0000076293945,"y":1875.0002918243408,"wires":[["9eda9821.6d7738"]]},{"id":"a76fa3ab.6255a","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\n\nmsg.payload = msg.payload.docs;\nif(msg.payload.length===0){\n    // msg.payload={\n    //     success: false, \n    //     message: \"No data found\", \n    //     data: {\n    //             \"header\":\n    //             {\n    //                 \"html\":'list_child_h',\n    //                 \"from_page_name\": msg.req.query.from_page_name, \n    //                 \"from_page_id\": msg.req.query.from_page_id,\n    //                 \"current_page_id\" :msg.req.query.current_page_id\n                    \n    //             }\n            \n    //     } \n        \n    // };\n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.pageId,\n        \"current_page_id\" :msg.req.query.current_page_id\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:{html:null}};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n}\n\n\n\n// var myArr=[];\n\n// var dataValues=[];\n// var dataHTML=[];\n// var dataHeader=[];\n// var dataFooter=[];\n// var dataResponse=[];\n\nmsg.payload.forEach(function(val,key){\n    \n    var contentKeyValue={};\n   \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{ //if its not pulldown\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n    }\n    \n    //if value is blank \n    if(Object.keys(contentKeyValue).length===0){\n        // contentKeyValue=val.template_config.key_name;\n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n            var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n            \n        }\n    }\n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue,dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n        // //User data wins over default data\n        // if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        //     dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n            \n        // }\n        // //User data wins over default data\n        // if(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id)  !== -1){\n        //     msg.payload.splice(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id),1)\n        // }\n        \n        if(dataHTML.length<1){\n            dataHTML={html:'list_child_d'};\n            myArr.push({\"_id\": 'list_child_d'});\n        }\n        var frompageid = val.page_name===\"page1\"?\"page1\":val.from_page_id;\n        var from_page_name = msg.req.query.show_deleted===\"true\"?\" Deleted Records\":msg.req.query.from_page_name;\n        if(dataHeader.length<1){\n            dataHeader={html:'list_child_h',from_page_id: frompageid, from_page_name: from_page_name, current_page_id:msg.req.query.current_page_id};\n            myArr.push({\"_id\": 'list_child_h'});\n            \n        }\n        // if(dataFooter.length<1){\n        //     dataFooter={html:'list_child_f'};\n        //     myArr.push({\"_id\": 'list_child_f'});\n        // }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(\"checking footer\")\n            // node.warn(val.list_templates.footer);\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n                // record_type_pulldown: val.list_templates.footer.add_record_templates.record_type_pulldown,\n                // page_templates: {\n                //   \"text\": val.list_templates.footer.add_record_templates.page_templates.text,\n                //   \"number\": val.list_templates.footer.add_record_templates.page_templates.number,\n                //   \"dropdown\": val.list_templates.footer.add_record_templates.page_templates.dropdown,\n                //   \"boolean\": val.list_templates.footer.add_record_templates.page_templates.boolean,\n                //   \"list\": val.list_templates.footer.add_record_templates.page_templates.list,\n                // }\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n            // myArr.push({\"_id\": dataFooter.page_templates.text});\n            // myArr.push({\"_id\": dataFooter.page_templates.number});\n            // myArr.push({\"_id\": dataFooter.page_templates.dropdown});\n            // myArr.push({\"_id\": dataFooter.page_templates.boolean});\n            // myArr.push({\"_id\": dataFooter.page_templates.list});\n            \n        }\n        \n        \n})\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n \nnode.warn(dataValues);\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1219.0000381469727,"y":1872.5558738708496,"wires":[["f7cae3e6.8b84c"]]},{"id":"1de90dec.33d782","type":"http in","z":"6f1d88a3.034e28","name":"GET API","url":"api/master_api_handler","method":"get","upload":false,"swaggerDoc":"","x":88.18055725097656,"y":472.35069465637207,"wires":[["411c75bf.04df4c"]]},{"id":"411c75bf.04df4c","type":"switch","z":"6f1d88a3.034e28","name":"","property":"payload.api_name","propertyType":"msg","rules":[{"t":"eq","v":"homepage","vt":"str"},{"t":"eq","v":"getchild","vt":"str"},{"t":"eq","v":"back","vt":"str"},{"t":"eq","v":"sorting","vt":"str"},{"t":"eq","v":"showdeletedRecords","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":256.5243263244629,"y":1336.8056259155273,"wires":[["540065e5.9091fc"],["3a1ccc48.e3cbb4"],["bb49e32c.57af7"],["425ccb92.c093b4"],["ff722c23.a83be"]]},{"id":"540065e5.9091fc","type":"function","z":"6f1d88a3.034e28","name":"validate","func":"node.warn(msg);\nvar access_token = msg.req.query.access_token;\n    // task_id      = msg.payload_content.task_id;\nif(isEmpty(access_token)){\n    msg.api_status  = \"API_ERROR\";\n    msg.payload     = {status: 400, error: true, msg: \"`access_token` is mising.\", data: null};\n}else{\n    msg.api_status  = \"API_SUCCESS\";\n}\nreturn msg;\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}","outputs":1,"noerr":0,"x":626.2395706176758,"y":522.7881984710693,"wires":[["768a57aa.f1ae78"]]},{"id":"768a57aa.f1ae78","type":"switch","z":"6f1d88a3.034e28","name":"","property":"api_status","propertyType":"msg","rules":[{"t":"eq","v":"API_ERROR","vt":"str"},{"t":"eq","v":"API_SUCCESS","vt":"str"}],"checkall":"true","outputs":2,"x":766.2395502726235,"y":520.7881806691488,"wires":[["e82ade53.35a58"],["d63fec7c.6130a"]]},{"id":"e82ade53.35a58","type":"http response","z":"6f1d88a3.034e28","name":"","x":894.2395502726235,"y":480.45486768086755,"wires":[]},{"id":"f8a50746.f119a8","type":"switch","z":"6f1d88a3.034e28","name":"","property":"api_status","propertyType":"msg","rules":[{"t":"eq","v":"API_ERROR","vt":"str"},{"t":"eq","v":"API_SUCCESS","vt":"str"}],"checkall":"true","outputs":2,"x":789.3507105509439,"y":847.0104640324911,"wires":[["48ee204a.857cf"],["dee8f93d.9e2c08"]]},{"id":"48ee204a.857cf","type":"http response","z":"6f1d88a3.034e28","name":"","x":917.3507105509439,"y":806.6771510442098,"wires":[]},{"id":"3a1ccc48.e3cbb4","type":"function","z":"6f1d88a3.034e28","name":"validate","func":"node.warn(msg);\nvar access_token = msg.req.query.access_token;\n    // task_id      = msg.payload_content.task_id;\nif(isEmpty(access_token)){\n    msg.api_status  = \"API_ERROR\";\n    msg.payload     = {status: 400, error: true, msg: \"`access_token` is mising.\", data: null};\n}else{\n    msg.api_status  = \"API_SUCCESS\";\n}\nreturn msg;\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}","outputs":1,"noerr":0,"x":649.3507308959961,"y":849.0104818344116,"wires":[["f8a50746.f119a8"]]},{"id":"f452ee12.ad3d8","type":"switch","z":"6f1d88a3.034e28","name":"","property":"api_status","propertyType":"msg","rules":[{"t":"eq","v":"API_ERROR","vt":"str"},{"t":"eq","v":"API_SUCCESS","vt":"str"}],"checkall":"true","outputs":2,"x":754.0173670450845,"y":1170.6771558125815,"wires":[["3e08130a.a922cc"],["bd4bd0fa.63a23"]]},{"id":"3e08130a.a922cc","type":"http response","z":"6f1d88a3.034e28","name":"","x":882.0173670450845,"y":1130.3438428243003,"wires":[]},{"id":"bb49e32c.57af7","type":"function","z":"6f1d88a3.034e28","name":"validate","func":"node.warn(msg);\nvar access_token = msg.req.query.access_token;\n    // task_id      = msg.payload_content.task_id;\nif(isEmpty(access_token)){\n    msg.api_status  = \"API_ERROR\";\n    msg.payload     = {status: 400, error: true, msg: \"`access_token` is mising.\", data: null};\n}else{\n    msg.api_status  = \"API_SUCCESS\";\n}\nreturn msg;\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}","outputs":1,"noerr":0,"x":614.0173873901367,"y":1172.677173614502,"wires":[["f452ee12.ad3d8"]]},{"id":"425ccb92.c093b4","type":"function","z":"6f1d88a3.034e28","name":"validate","func":"node.warn(msg);\nvar access_token = msg.req.query.access_token;\n    // task_id      = msg.payload_content.task_id;\nif(isEmpty(access_token)){\n    msg.api_status  = \"API_ERROR\";\n    msg.payload     = {status: 400, error: true, msg: \"`access_token` is mising.\", data: null};\n}else{\n    msg.api_status  = \"API_SUCCESS\";\n}\nreturn msg;\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}","outputs":1,"noerr":0,"x":571.9062347412109,"y":1544.454875946045,"wires":[["5f557744.d449b8"]]},{"id":"5f557744.d449b8","type":"switch","z":"6f1d88a3.034e28","name":"","property":"api_status","propertyType":"msg","rules":[{"t":"eq","v":"API_ERROR","vt":"str"},{"t":"eq","v":"API_SUCCESS","vt":"str"}],"checkall":"true","outputs":2,"x":711.9062143961587,"y":1542.4548581441245,"wires":[["8eb06e97.026ea"],["57051252.db1bbc"]]},{"id":"8eb06e97.026ea","type":"http response","z":"6f1d88a3.034e28","name":"","x":839.9062143961587,"y":1502.1215451558433,"wires":[]},{"id":"ff722c23.a83be","type":"function","z":"6f1d88a3.034e28","name":"validate","func":"node.warn(msg);\nvar access_token = msg.req.query.access_token;\n    // task_id      = msg.payload_content.task_id;\nif(isEmpty(access_token)){\n    msg.api_status  = \"API_ERROR\";\n    msg.payload     = {status: 400, error: true, msg: \"`access_token` is mising.\", data: null};\n}else{\n    msg.api_status  = \"API_SUCCESS\";\n}\nreturn msg;\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}","outputs":1,"noerr":0,"x":586.4617691040039,"y":1861.7883129119873,"wires":[["e6f6911c.c6bac"]]},{"id":"e6f6911c.c6bac","type":"switch","z":"6f1d88a3.034e28","name":"","property":"api_status","propertyType":"msg","rules":[{"t":"eq","v":"API_ERROR","vt":"str"},{"t":"eq","v":"API_SUCCESS","vt":"str"}],"checkall":"true","outputs":2,"x":726.4617487589517,"y":1859.7882951100669,"wires":[["90bc60da.fb0b8"],["cadec980.9dec98"]]},{"id":"90bc60da.fb0b8","type":"http response","z":"6f1d88a3.034e28","name":"","x":854.4617487589517,"y":1819.4549821217856,"wires":[]},{"id":"ad59705d.6574","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"var myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nvar currentPagedb_id = '';\nvar FCM_enable = false;\n\nnode.warn(msg);\nmsg.payload = msg.payload.docs;\nnode.warn(msg.payload);\n// if(msg.payload.length===0){\n//     msg.payload={success: false, message: \"No data found\", data: null };\n//     msg.recordFound=0;\n//     node.warn(\"no record found\")\n//     return msg;\n// }\n// msg.payload = msg.payload.docs;\nif(msg.payload.length===0){\n    \n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.from_page_id,\n        \"current_page_id\" :msg.req.query.current_page_id,\n        \"currentPagedb_id\" : msg.req.query.currentPagedb_id,\n        \"FCM_enable\" :FCM_enable\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    myArr.push({\"_id\": 'footer'});\n    myArr.push({\"_id\": 'add_record_page_template'});\n    dataFooter={\n        html:'footer',\n        add_record_page_template: \"add_record_page_template\"\n    };\n            \n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:dataFooter};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n}\n// else{\n//     msg.recordFound=1;\n\n\nmsg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n            \n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config?val.template_config.key_name:'';\n        }\n        \n    }\n    \n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n    \n        //check if current record is a page1\n        if(val.template_config.page_name!='page1'){\n            dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        }else{\n            currentPagedb_id = val._id;\n            FCM_enable = val.FCM_enable.includes(msg.req.query.user_id);\n        }\n        //get details part templates\n        if(dataHTML.length<1){\n            if(val.template_id.front_templates){\n               detail_templates = val.template_id.front_templates.detail.details_template_id;\n                if(Array.isArray(detail_templates)){\n                    dataHTML={html:[]};\n                    detail_templates.forEach(function(tmp, key){\n                        dataHTML.html.push(tmp);\n                        myArr.push({\"_id\": tmp});\n                    }) \n                }else{\n                    dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                    myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n                } \n            }else{\n                dataHTML={html:'list_child_d'};\n                myArr.push({\"_id\": 'list_child_d'});\n            }\n            \n        }\n        \n        if(dataHeader.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(val.list_templates.header.template_ids)\n            dataHeader={html:val.list_templates.header.template_ids[0], from_page_name: 'Home Page', current_page_id: val.page_name,currentPagedb_id: currentPagedb_id,FCM_enable:FCM_enable}; //from_page_id: val.page_name,\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            \n        }\n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(\"checking footer\")\n            // node.warn(val.list_templates.footer);\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n                // record_type_pulldown: val.list_templates.footer.add_record_templates.record_type_pulldown,\n                // page_templates: {\n                //   \"text\": val.list_templates.footer.add_record_templates.page_templates.text,\n                //   \"number\": val.list_templates.footer.add_record_templates.page_templates.number,\n                //   \"dropdown\": val.list_templates.footer.add_record_templates.page_templates.dropdown,\n                //   \"boolean\": val.list_templates.footer.add_record_templates.page_templates.boolean,\n                //   \"list\": val.list_templates.footer.add_record_templates.page_templates.list,\n                // }\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n            // myArr.push({\"_id\": dataFooter.page_templates.text});\n            // myArr.push({\"_id\": dataFooter.page_templates.number});\n            // myArr.push({\"_id\": dataFooter.page_templates.dropdown});\n            // myArr.push({\"_id\": dataFooter.page_templates.boolean});\n            // myArr.push({\"_id\": dataFooter.page_templates.list});\n            \n        }\n        \n})\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n        \n\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nnode.warn(dataResponse);\nnode.warn(\"templates\")\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\nmsg.dataResponse=dataResponse;\nreturn msg;\n// }\n","outputs":1,"noerr":0,"x":1300,"y":520,"wires":[["eb52cc44.d9f72"]]},{"id":"9fb35249.ec467","type":"function","z":"6f1d88a3.034e28","name":"Assign template to response","func":"node.warn(msg);\nvar combine_template = \"\";\nvar footer_temp = \"\";\nvar top_temp = \"\";\nmsg.payload.docs.map(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.footer.html = val.html;\n    }\n    \n    if (msg.dataResponse.footer.add_record_page_template === val._id) {\n        msg.dataResponse.footer.add_record_page_template = val.html;\n    }\n    \n    //Get HTML templates based on id for details\n    if(Array.isArray(msg.dataResponse.details.html.html)){ //if its contain multiple templates\n        msg.dataResponse.details.html.html.forEach(function(temp_val, temp_key){\n            if(temp_val === val._id){\n                if (val._id=='details_top') {\n                    top_temp = val.html;\n                }else if(val._id=='details_footer'){\n                    footer_temp = val.html;\n                }else{\n                    combine_template += val.html;\n                }\n            }\n            \n        })\n        \n        \n    }else{\n        if (msg.dataResponse.details.html.html === val._id) {\n            // node.warn(meta[prop]);\n            msg.dataResponse.details.html.html = val.html;\n            \n            \n        }\n    }\n    \n    \n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n           \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n    \n})\n\n//merge the multiple templates into one\nif(top_temp){\n    msg.dataResponse.details.html.html = top_temp+combine_template+footer_temp;\n}\n\nmsg.payload=msg.resData;\nmsg.payload={success: true, message: \"ok\", data: msg.dataResponse };\n\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":640,"wires":[["9fc2138d.c7abb","a61af629.ba1aa8"]]},{"id":"204e9e85.31d002","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nvar currentPagedb_id = '';\nvar FCM_enable = false;\n\nmsg.payload = msg.payload.docs;\nif(msg.payload.length===0){\n    \n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.from_page_id,\n        \"current_page_id\" :msg.req.query.current_page_id\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:{htmk:null}};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n}\n\nmsg.payload.forEach(function(val,key){\n    \n    val.FCM_enable = val.FCM_enable?val.FCM_enable:[];\n    var contentKeyValue={};\n   \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{ //if its not pulldown\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n    }\n    \n    //if value is blank \n    if(Object.keys(contentKeyValue).length===0){\n        // contentKeyValue=val.template_config.key_name;\n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n            var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n            \n        }\n    }\n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        \n        \n        //check if current record is a page1\n        if(val._id!=msg.req.query.currentPagedb_id){\n            dataValues.push({content:contentKeyValue,dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        }else{\n            currentPagedb_id = val._id;\n            FCM_enable = val.FCM_enable.includes(msg.req.query.user_id);\n        }\n        // if(dataHTML.length<1){\n        //     dataHTML={html:'list_child_d'};\n        //     myArr.push({\"_id\": 'list_child_d'});\n        // }\n        //get details part templates\n        if(dataHTML.length<1){\n            if(val.template_id.front_templates){\n               detail_templates = val.template_id.front_templates.detail.details_template_id;\n                if(Array.isArray(detail_templates)){\n                    dataHTML={html:[]};\n                    detail_templates.forEach(function(tmp, key){\n                        dataHTML.html.push(tmp);\n                        myArr.push({\"_id\": tmp});\n                    }) \n                }else{\n                    dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                    myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n                } \n            }else{\n                dataHTML={html:'list_child_d'};\n                myArr.push({\"_id\": 'list_child_d'});\n            }\n            \n        }\n        \n        if(dataHeader.length<1){\n            dataHeader={html:'list_child_h',from_page_id: val.from_page_id, from_page_name: msg.req.query.from_page_name, current_page_id:msg.req.query.current_page_id,fromPagedb_id:msg.req.query.fromPagedb_id};\n            myArr.push({\"_id\": 'list_child_h'});\n            \n        }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n                \n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n            \n            \n        }\n        \n        \n})\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\ndataHeader.currentPagedb_id = currentPagedb_id;\ndataHeader.FCM_enable = FCM_enable;\n \n \ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nnode.warn(dataResponse);\n\nmsg.payload = {\n    \n   \"selector\": {\n    \n    \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1291.4617919921875,"y":816.7882080078125,"wires":[["16cd6d21.4a62c3"]]},{"id":"2d2e2647.6b3afa","type":"function","z":"6f1d88a3.034e28","name":"Assign values to response","func":"node.warn(msg);\nvar combine_template = \"\";\nvar footer_temp = \"\";\nvar top_temp = \"\";\nmsg.payload.docs.forEach(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        msg.dataResponse.footer.html = val.html;\n    }\n    \n    if (msg.dataResponse.footer.add_record_page_template === val._id) {\n        msg.dataResponse.footer.add_record_page_template = val.html;\n    }\n    \n    // if (msg.dataResponse.details.html.html === val._id) {\n    //     msg.dataResponse.details.html.html = val.html;\n    // }\n    \n    //Get HTML templates based on id for details\n    if(Array.isArray(msg.dataResponse.details.html.html)){ //if its contain multiple templates\n        msg.dataResponse.details.html.html.forEach(function(temp_val, temp_key){\n            if(temp_val === val._id){\n                if (val._id=='details_top') {\n                    top_temp = val.html;\n                }else if(val._id=='details_footer'){\n                    footer_temp = val.html;\n                }else{\n                    combine_template += val.html;\n                }\n            }\n            \n        })\n    }else{ //if it is single template\n        if (msg.dataResponse.details.html.html === val._id) {\n            msg.dataResponse.details.html.html = val.html;\n        }\n    }\n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n        \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n})\n\n//merge the multiple templates into one\nif(top_temp){\n    msg.dataResponse.details.html.html = top_temp+combine_template+footer_temp;\n}\n\nmsg.payload=msg.resData;\n// msg.payload=msg.dataResponse;\nmsg.payload={success: msg.dataResponse.details.content.length?true:false, message: msg.dataResponse.details.content.length?\"ok\":\"No Data Found\", data: msg.dataResponse };\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":1195.4617919921875,"y":922.7882080078125,"wires":[["13a54c34.682e54","97e9819c.e67f6"]]},{"id":"9488b5f0.5b8318","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"node.warn(msg);\nmsg.payload = msg.payload.docs;\nnode.warn(msg.payload.length);\n\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nvar page_heading = '';\nvar page_heading_id = '';\nvar currentPagedb_id = '';\nvar FCM_enable = false;\n\n\nif(msg.payload.length===0){\n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.from_page_id,\n        \"current_page_id\" :msg.req.query.current_page_id,\n        \"currentPagedb_id\" : msg.req.query.currentPagedb_id,\n        \"FCM_enable\" :FCM_enable\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:{htmk:null}};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n\n\n    msg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    if(val.template_config.key_name.default){\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        \n        \n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n        }\n        \n    }\n    \n    //get current page heading \n    if(val.template_config.page_name==msg.req.query.from_page_id){\n       page_heading =  contentKeyValue.value; \n       page_heading_id = val._id;\n    }\n    \n    //get edit page template\n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        // dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n         \n        //check if current record is a page1\n        if(val._id!=msg.req.query.fromPagedb_id){\n           dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        }else{\n            currentPagedb_id = val._id;\n            FCM_enable = val.FCM_enable.includes(msg.req.query.user_id);\n            \n        }\n    // if(dataHTML.length<1 && val.template_id.front_templates){\n    //     dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n    //     myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n    // }\n    \n    //get details part templates\n    if(dataHTML.length<1){\n        if(val.template_id.front_templates){\n           detail_templates = val.template_id.front_templates.detail.details_template_id;\n            if(Array.isArray(detail_templates)){\n                dataHTML={html:[]};\n                detail_templates.forEach(function(tmp, key){\n                    dataHTML.html.push(tmp);\n                    myArr.push({\"_id\": tmp});\n                }) \n            }else{\n                dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n            } \n        }else{\n            dataHTML={html:'list_child_d'};\n            myArr.push({\"_id\": 'list_child_d'});\n        }\n        \n    }\n        \n    if(dataHeader.length<1 ){\n        if((val.list_templates && Object.keys(val.list_templates).length)){\n            // dataHeader={html:val.list_templates.header.template_ids[0], from_page_id: msg.req.query.from_page_id, from_page_name: msg.req.query.from_page_name, current_page_id:msg.req.query.from_page_id};\n\n            dataHeader={html:val.list_templates.header.template_ids[0], from_page_name: msg.req.query.from_page_name, current_page_id:msg.req.query.from_page_id};\n\n            if(val.page_name){\n                // dataHeader.from_page_id=val.from_page_id;\n                dataHeader.from_page_id=val.from_page_id;\n            }\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            node.warn(\"coming in IF\")\n            \n        }else{\n            var header_id = msg.req.query.from_page_id=='page1'?'front_header': 'list_child_h';\n            dataHeader={html:header_id, from_page_name: page_heading, current_page_id:msg.req.query.from_page_id};\n            if(val.page_name){\n                dataHeader.from_page_id=val.from_page_id;\n                \n            }\n            myArr.push({\"_id\": header_id});\n            node.warn(\"coming in else\")\n            node.warn(dataHeader.from_page_id)\n        }\n    }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // dataFooter={html:val.list_templates.footer.template_ids[0]};\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n        }else{\n            dataFooter={\n                html:\"footer\",\n                add_record_page_template: \"add_record_page_template\"\n            };\n            myArr.push({\"_id\": dataFooter.html});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n        }\n        \n})\n\nif(page_heading){\n    dataHeader.from_page_name=page_heading;\n}else{\n    dataHeader.from_page_name=\"Home Page\";\n}\n\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n    if(dataValues.findIndex(item=> item.id == page_heading_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == page_heading_id),1)\n        node.warn(\"position\");\n        node.warn(dataValues.findIndex(item=> item.id == page_heading_id));\n    }\n    \n    \n })\n \ndataHeader.currentPagedb_id = currentPagedb_id;\ndataHeader.FCM_enable = FCM_enable;\n\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1240.5728759765625,"y":1150.6771240234375,"wires":[["473803fe.c07f2c"]]},{"id":"66223c37.5b0574","type":"function","z":"6f1d88a3.034e28","name":"Assign values to response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nvar combine_template = \"\";\nvar footer_temp = \"\";\nvar top_temp = \"\";\nmsg.payload.docs.map(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        msg.dataResponse.footer.html = val.html;\n        \n    }\n    \n    // if (msg.dataResponse.details.html.html === val._id) {\n    //     msg.dataResponse.details.html.html = val.html;\n    // }\n    \n    //Get HTML templates based on id for details\n    if(Array.isArray(msg.dataResponse.details.html.html)){ //if it contains multiple templates\n        msg.dataResponse.details.html.html.forEach(function(temp_val, temp_key){\n            if(temp_val === val._id){\n                if (val._id=='details_top') {\n                    top_temp = val.html;\n                }else if(val._id=='details_footer'){\n                    footer_temp = val.html;\n                }else{\n                    combine_template += val.html;\n                }\n            }\n            \n        })\n    }else{ //if it is single template\n        if (msg.dataResponse.details.html.html === val._id) {\n            msg.dataResponse.details.html.html = val.html;\n        }\n    }\n    \n    if (msg.dataResponse.footer.add_record_page_template === val._id) {\n        msg.dataResponse.footer.add_record_page_template = val.html;\n    }\n    \n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n           \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n    \n})\n\n//merge the multiple templates into one\nif(top_temp){\n    msg.dataResponse.details.html.html = top_temp+combine_template+footer_temp;\n}\nmsg.payload=msg.resData;\nmsg.payload=msg.dataResponse;\n\n// node.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":1189.2396240234375,"y":1255.232666015625,"wires":[["835fe2f7.0bb5","c0bc16f0.d2e238"]]},{"id":"8d332cdd.646f5","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"node.warn(msg);\nmsg.payload = msg.payload.docs;\n// node.warn(msg.payload);\nif(msg.payload.length===0){\n    msg.payload={success: false, message: \"No data found\", data: null };\n    msg.recordFound=0;\n    return msg;\n}else{\n    msg.recordFound=1;\n\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nvar currentPagedb_id = '';\nvar FCM_enable = false;\n\nmsg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n            node.warn(key1);\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n            node.warn(key2);\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n        }\n        \n    }\n    \n    if(val.template_id.edit_templates){\n        \n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        \n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        \n        \n        //check if current record is a page1\n        if(val._id!=msg.req.query.currentPagedb_id){\n           dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        }else{\n            currentPagedb_id = val._id;\n            FCM_enable = val.FCM_enable.includes(msg.req.query.user_id);\n            \n        }\n        \n        // if(dataHTML.length<1 && val.template_id.edit_templates){\n        //     dataHTML={html:val.template_id.edit_templates.detail.details_template_id, from_page_name: 'Home Page'};\n        //     myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        // }\n        \n        //get details part templates\n        if(dataHTML.length<1){\n            if(val.template_id.front_templates){\n               detail_templates = val.template_id.front_templates.detail.details_template_id;\n                if(Array.isArray(detail_templates)){\n                    dataHTML={html:[], from_page_name: 'Home Page'};\n                    detail_templates.forEach(function(tmp, key){\n                        dataHTML.html.push(tmp);\n                        myArr.push({\"_id\": tmp});\n                    }) \n                }else{\n                    dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                    myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n                } \n            }else{\n                dataHTML={html:'list_child_d'};\n                myArr.push({\"_id\": 'list_child_d'});\n            }\n            \n        }\n        \n        if(dataHeader.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            node.warn(val.list_templates)\n            dataHeader={html:val.list_templates.header.template_ids[0],from_page_id: val.page_name, from_page_name: msg.req.query.from_page_name};\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            \n        }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            dataFooter={html:val.list_templates.footer.template_ids[0],\n            add_record_page_template: \"add_record_page_template\"\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n        }\n        \n})\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n        \ndataHeader.currentPagedb_id = currentPagedb_id;\ndataHeader.FCM_enable = FCM_enable;\n\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\nmsg.dataResponse=dataResponse;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1214.5728759765625,"y":1516.5660400390625,"wires":[["94594667.576f48"]]},{"id":"23a6e.8698c5928","type":"function","z":"6f1d88a3.034e28","name":"Assign template to response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nvar combine_template = \"\";\nvar footer_temp = \"\";\nvar top_temp = \"\";\n// var meta=msg.resData[0].meta_data;\n// var child=msg.resData[0].child_meta;\nmsg.payload.docs.map(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.footer.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.add_record_page_template === val._id) {\n        msg.dataResponse.footer.add_record_page_template = val.html;\n    }\n    \n    // if (msg.dataResponse.details.html.html === val._id) {\n    //     // node.warn(meta[prop]);\n    //     msg.dataResponse.details.html.html = val.html;\n        \n    // }\n    \n    //Get HTML templates based on id for details\n    if(Array.isArray(msg.dataResponse.details.html.html)){ //if it contains multiple templates\n        msg.dataResponse.details.html.html.forEach(function(temp_val, temp_key){\n            if(temp_val === val._id){\n                if (val._id=='details_top') {\n                    top_temp = val.html;\n                }else if(val._id=='details_footer'){\n                    footer_temp = val.html;\n                }else{\n                    combine_template += val.html;\n                }\n            }\n            \n        })\n    }else{ //if it is single template\n        if (msg.dataResponse.details.html.html === val._id) {\n            msg.dataResponse.details.html.html = val.html;\n        }\n    }\n    \n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n           \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n    \n})\n\n//merge the multiple templates into one\nif(top_temp){\n    msg.dataResponse.details.html.html = top_temp+combine_template+footer_temp;\n}\nmsg.payload=msg.resData;\nmsg.payload={success: true, message: \"ok\", data: msg.dataResponse };\n\nreturn msg;","outputs":1,"noerr":0,"x":1373.5728759765625,"y":1627.34375,"wires":[["3d3f5eb9.88b522","d878a051.3d271"]]},{"id":"9eda9821.6d7738","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nvar currentPagedb_id = '';\nvar FCM_enable = false;\n\nmsg.payload = msg.payload.docs;\nif(msg.payload.length===0){\n    // msg.payload={\n    //     success: false, \n    //     message: \"No data found\", \n    //     data: {\n    //             \"header\":\n    //             {\n    //                 \"html\":'list_child_h',\n    //                 \"from_page_name\": msg.req.query.from_page_name, \n    //                 \"from_page_id\": msg.req.query.from_page_id,\n    //                 \"current_page_id\" :msg.req.query.current_page_id\n                    \n    //             }\n            \n    //     } \n        \n    // };\n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.pageId,\n        \"current_page_id\" :msg.req.query.current_page_id,\n        \"currentPagedb_id\": msg.req.query.currentPagedb_id\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:{html:null}};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n}\n\n\n\n// var myArr=[];\n\n// var dataValues=[];\n// var dataHTML=[];\n// var dataHeader=[];\n// var dataFooter=[];\n// var dataResponse=[];\n\nmsg.payload.forEach(function(val,key){\n    \n    var contentKeyValue={};\n   \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{ //if its not pulldown\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n    }\n    \n    //if value is blank \n    if(Object.keys(contentKeyValue).length===0){\n        // contentKeyValue=val.template_config.key_name;\n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n            var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n            \n        }\n    }\n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        // dataValues.push({content:contentKeyValue,dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n        //check if current record is a page1\n        if(val._id!=msg.req.query.currentPagedb_id){\n           dataValues.push({content:contentKeyValue,dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        }else{\n            currentPagedb_id = val._id;\n            FCM_enable = val.FCM_enable.includes(msg.req.query.user_id);\n            \n        }\n        // //User data wins over default data\n        // if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        //     dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n            \n        // }\n        // //User data wins over default data\n        // if(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id)  !== -1){\n        //     msg.payload.splice(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id),1)\n        // }\n        \n        // if(dataHTML.length<1){\n        //     dataHTML={html:'list_child_d'};\n        //     myArr.push({\"_id\": 'list_child_d'});\n        // }\n        \n        //get details part templates\n        if(dataHTML.length<1){\n            if(val.template_id.front_templates){\n               detail_templates = val.template_id.front_templates.detail.details_template_id;\n                if(Array.isArray(detail_templates)){\n                    dataHTML={html:[], from_page_name: 'Home Page'};\n                    detail_templates.forEach(function(tmp, key){\n                        dataHTML.html.push(tmp);\n                        myArr.push({\"_id\": tmp});\n                    }) \n                }else{\n                    dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                    myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n                } \n            }else{\n                dataHTML={html:'list_child_d'};\n                myArr.push({\"_id\": 'list_child_d'});\n            }\n            \n        }\n        \n        var frompageid = val.page_name===\"page1\"?\"page1\":val.from_page_id;\n        var from_page_name = msg.req.query.show_deleted===\"true\"?\" Deleted Records\":msg.req.query.from_page_name;\n        if(dataHeader.length<1){\n            dataHeader={html:'list_child_h',from_page_id: frompageid, from_page_name: from_page_name, current_page_id:msg.req.query.current_page_id};\n            myArr.push({\"_id\": 'list_child_h'});\n            \n        }\n        // if(dataFooter.length<1){\n        //     dataFooter={html:'list_child_f'};\n        //     myArr.push({\"_id\": 'list_child_f'});\n        // }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(\"checking footer\")\n            // node.warn(val.list_templates.footer);\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n                // record_type_pulldown: val.list_templates.footer.add_record_templates.record_type_pulldown,\n                // page_templates: {\n                //   \"text\": val.list_templates.footer.add_record_templates.page_templates.text,\n                //   \"number\": val.list_templates.footer.add_record_templates.page_templates.number,\n                //   \"dropdown\": val.list_templates.footer.add_record_templates.page_templates.dropdown,\n                //   \"boolean\": val.list_templates.footer.add_record_templates.page_templates.boolean,\n                //   \"list\": val.list_templates.footer.add_record_templates.page_templates.list,\n                // }\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n            // myArr.push({\"_id\": dataFooter.page_templates.text});\n            // myArr.push({\"_id\": dataFooter.page_templates.number});\n            // myArr.push({\"_id\": dataFooter.page_templates.dropdown});\n            // myArr.push({\"_id\": dataFooter.page_templates.boolean});\n            // myArr.push({\"_id\": dataFooter.page_templates.list});\n            \n        }\n        \n        \n})\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n\ndataHeader.currentPagedb_id = currentPagedb_id;\ndataHeader.FCM_enable = FCM_enable;\n\nnode.warn(dataValues);\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1220.68408203125,"y":1830.5660400390625,"wires":[["f7cae3e6.8b84c"]]},{"id":"f6765496.311cc8","type":"function","z":"6f1d88a3.034e28","name":"Assign template to response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nvar combine_template = \"\";\nvar footer_temp = \"\";\nvar top_temp = \"\";\n// var meta=msg.resData[0].meta_data;\n// var child=msg.resData[0].child_meta;\nmsg.payload.docs.map(function(val,key){\n    if (msg.dataResponse.header.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.header.html = val.html;\n        \n    }\n    \n    if (msg.dataResponse.footer.html === val._id) {\n        // node.warn(meta[prop]);\n        msg.dataResponse.footer.html = val.html;\n        \n    }\n    \n    // if (msg.dataResponse.details.html.html === val._id) {\n    //     // node.warn(meta[prop]);\n    //     msg.dataResponse.details.html.html = val.html;\n        \n    // }\n    \n    //Get HTML templates based on id for details\n    if(Array.isArray(msg.dataResponse.details.html.html)){ //if it contains multiple templates\n        msg.dataResponse.details.html.html.forEach(function(temp_val, temp_key){\n            if(temp_val === val._id){\n                if (val._id=='details_top') {\n                    top_temp = val.html;\n                }else if(val._id=='details_footer'){\n                    footer_temp = val.html;\n                }else{\n                    combine_template += val.html;\n                }\n            }\n            \n        })\n    }else{ //if it is single template\n        if (msg.dataResponse.details.html.html === val._id) {\n            msg.dataResponse.details.html.html = val.html;\n        }\n    }\n    \n    msg.dataResponse.details.content.forEach(function(editVal,editKey){\n         \n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.details === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.details = val.html;\n           \n            \n        }\n        if (msg.dataResponse.details.content[editKey].edit_template && msg.dataResponse.details.content[editKey].edit_template.header === val._id) {\n            msg.dataResponse.details.content[editKey].edit_template.header = val.html;\n            \n        }\n    })\n    \n    \n})\n\n//merge the multiple templates into one\nif(top_temp){\n    msg.dataResponse.details.html.html = top_temp+combine_template+footer_temp;\n}\nmsg.payload=msg.resData;\nmsg.payload={success: true, message: \"ok\", data: msg.dataResponse };\n\nreturn msg;","outputs":1,"noerr":0,"x":1166.3507080078125,"y":1955.34375,"wires":[["ebdd25f9.23ae18","97fa9aca.995288"]]},{"id":"996b3ec7.90d5c","type":"function","z":"6f1d88a3.034e28","name":"phone","func":"node.warn(msg);\nif(msg.user_data.params.action=='update'){\n    if(msg.user_data.params.renumberAll){\n        var renumber=[];\n        msg.user_data.params.record.forEach(function(val,key){\n            renumber.push({\"_id\":val.id})\n        })\n        \n        msg.payload = {\n            // query: \"table:users AND virtual_phone:\" + msg.user_data.phone\n            selector: {$or: renumber}\n            // \"_id\": msg.user_data.params.record.id\n        };\n    }else{\n        msg.payload = {\n            // query: \"table:users AND virtual_phone:\" + msg.user_data.phone\n            selector: {\"_id\": msg.user_data.params.record.id}\n            // \"_id\": msg.user_data.params.record.id\n        };\n    }\n    \n    msg.action=\"update\";\n}else{\n    var pageName = '';\n    var edit_templates = {};\n    var front_templates = {};\n    var list_templates = {};\n    var headerTemplate = msg.user_data.params.page_id==='page1'?'front_header':'list_child_h';\n    if(msg.user_data.params.record.recordType=='number'){\n        edit_templates = {\n          \"detail\": {\n            \"details_template_id\": \"edit_text_d\"\n          },\n          \"header\": {\n            \"header_template_id\": \"edit_h\"\n          },\n          \"footer\": {\n            \"footer_template_id\": \"\"\n          }\n        } \n        front_templates = {\n          \"detail\": {\n            \"details_template_id\": [\n              \"details_top\",\n              \"details_editDelete\",\n              \"details_others\",\n              \"details_reorderItem\",\n              \"details_showDeleted\",\n              \"details_footer\"\n            ]\n          }\n        }\n    }else if(msg.user_data.params.record.recordType=='list'){\n        pageName = \"page_\"+String(Date.now());\n        edit_templates = {\n          \"detail\": {\n            \"details_template_id\": \"edit_text_d\"\n          },\n          \"header\": {\n            \"header_template_id\": \"edit_h\"\n          },\n          \"footer\": {\n            \"footer_template_id\": \"\"\n          }\n        }\n        front_templates = {\n          \"detail\": {\n            \"details_template_id\": [\n              \"details_top\",\n              \"details_editDelete\",\n              \"details_others\",\n              \"details_reorderItem\",\n              \"details_showDeleted\",\n              \"details_footer\"\n            ]\n          }\n        }\n        \n        \n        \n        list_templates = {\n            \"header\": {\n              \"template_ids\": [\n                headerTemplate\n              ],\n              \"template_config\": {\n                \"page_name\": \"\"\n              }\n            },\n            \"footer\": {\n              \"template_ids\": [\n                \"footer\"\n              ],\n              \"template_config\": {\n                \"page_name\": \"\"\n              }\n            },\n            \"details\": {\n              \"template_ids\": [\n                \"front_details\"\n              ],\n              \"template_config\": {\n                \"page_name\": \"\"\n              }\n            }\n          }\n  \n    }else{\n        edit_templates = {\n          \"detail\": {\n            \"details_template_id\": \"edit_text_d\"\n          },\n          \"header\": {\n            \"header_template_id\": \"edit_h\"\n          },\n          \"footer\": {\n            \"footer_template_id\": \"\"\n          }\n        } \n        front_templates = {\n          \"detail\": {\n            \"details_template_id\": [\n              \"details_top\",\n              \"details_editDelete\",\n              \"details_others\",\n              \"details_reorderItem\",\n              \"details_showDeleted\",\n              \"details_footer\"\n            ]\n          }\n        }\n    }\n    \n    \n    \n    msg.payload={docs: []};\n    msg.payload.docs.push({\n        // query: \"table:users AND virtual_phone:\" + msg.user_data.phone\n        // selector: {\"_id\": \"18b4ce8a1cb8acb37f4e2e5f1d38ea36\"}\n        // \"_id\": msg.user_data.params.record.id\n      \"table\": msg.user_data.params.record.recordType,\n      \"user_id\": \"47465f5fb22a9d9b0ec7ef7f72d03768\",\n      \"page_name\": msg.user_data.params.page_id,\n      \"from_page_id\": msg.user_data.params.from_page_id,\n      \"reference\": {\n        \"ref1\": \"\"\n      },\n      \"type\": msg.user_data.params.record.recordType,\n      \"value\": {},\n      \"value_id\": \"\",\n      \"created_at\": Date.now(),\n      \"updated_at\": Date.now(),\n      \"visible\": true,\n      \"template_id\": {\n        \"edit_templates\": edit_templates,\n        \"front_templates\": front_templates\n        \n      },\n      \"template_config\": {\n        \"required\": \"false\",\n        \"display_default\": \"\",\n        \"key_name\": {\n          \"key\": msg.user_data.params.record.key?msg.user_data.params.record.key:'v1',\n          \"value\": msg.user_data.params.record.value,\n          \"default\": msg.user_data.params.record.default\n        },\n        \"page_name\": pageName\n      },\n      \"seq\": msg.user_data.params.record.seq,\n      'list_templates': list_templates,\n      \"query_data\": {\n        \"votes\": {},\n        \"lineage\": {\n          \"parent_id\": \"\",\n          \"user_id\": msg.user_data.params.user_id,\n        }\n      }\n\n    });\n    msg.action=\"create\";\n    msg.recordAction = 'create';\n    msg.user_data.params.user_id = \"47465f5fb22a9d9b0ec7ef7f72d03768\";\n}\n\nnode.warn(msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":527.0173263549805,"y":2107.8995504379272,"wires":[["fa161b4a.6e51a8"]]},{"id":"b87f0bec.92c978","type":"http in","z":"6f1d88a3.034e28","name":"Delete Permanent","url":"/api/deletePermanent","method":"get","upload":false,"swaggerDoc":"","x":176.01734924316406,"y":2867.8995418548584,"wires":[["2997374.12437c8"]]},{"id":"d0aa4aba.df0b88","type":"cloudant in","z":"6f1d88a3.034e28","name":"Get all docs","cloudant":"","database":"dev-platform2","service":"dev-platform2-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":330.3507537841797,"y":3082.343816757202,"wires":[[]]},{"id":"1dc2edfa.30f3f2","type":"http response","z":"6f1d88a3.034e28","name":"Response","statusCode":"","headers":{},"x":814.9284973144531,"y":3042.9216089248657,"wires":[]},{"id":"5e7eaa5c.15e934","type":"http request","z":"6f1d88a3.034e28","name":"deleteDocs","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_bulk_docs","tls":"","x":897.6841049194336,"y":2966.566038131714,"wires":[["1dc2edfa.30f3f2"]]},{"id":"de137431.bdae78","type":"function","z":"6f1d88a3.034e28","name":"bulk delete function","func":"node.warn(msg.payload);  \nvar count = msg.payload.docs.length;\nvar list = [];\nvar data_ids = [];\nfor (i=0;i<count;i++) {\n    list.push({\n        _id: msg.payload.docs[i]._id,\n        _rev: msg.payload.docs[i]._rev,\n        _deleted: true\n    });\n    if(msg.req.query.record_id!=msg.payload.docs[i]._id){\n        data_ids.push({\"data_id\":msg.payload.docs[i]._id})\n    }\n    \n}\n\n// if (i == 0) {\n// msg.payload = \"No documents were found.  The database is empty!\";\n// return [null, msg];\n// }\nif(data_ids.length){\n    msg.payload={\n        \"selector\": {\n            \"$or\": data_ids\n        }\n    }\n    msg.deleteList = list; \n}else{\n    msg.payload = {\n                \"docs\": \n                list\n              } \n}\n\n\n\n\nnode.warn(msg);  \nreturn msg;","outputs":1,"noerr":0,"x":400.68412017822266,"y":2981.5660362243652,"wires":[["47693452.42b74c","d9eb51ce.aee0b"]]},{"id":"47693452.42b74c","type":"debug","z":"6f1d88a3.034e28","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":736.6841201782227,"y":3089.5661182403564,"wires":[]},{"id":"ff49179d.70f8d8","type":"inject","z":"6f1d88a3.034e28","name":"","topic":"","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157.18054962158203,"y":2962.850814819336,"wires":[["2997374.12437c8"]]},{"id":"2997374.12437c8","type":"function","z":"6f1d88a3.034e28","name":"Query Object","func":"\nif(!msg.req){\n    msg.req = {query:{}}\n    msg.req.query.record_id='cef0dc9ba661eadaadd6978f25d07866';\n}\n\nnode.warn(msg);\nmsg.payload={\n    \"selector\": {\n        \"$or\": [\n            {\"_id\": msg.req.query.record_id}, //msg.req.query.record_id\n            {\"data_id\": msg.req.query.record_id},\n            {\"query_data.lineage.edited_node_id\":msg.req.query.record_id}\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":372.5243339538574,"y":2873.8089933395386,"wires":[["b7e17891.d60148"]]},{"id":"b7e17891.d60148","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":514.9999923706055,"y":2829.888999938965,"wires":[["de137431.bdae78"]]},{"id":"549a75bc.0cb94c","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":689.0173263549805,"y":2861.8994140625,"wires":[["45bc2315.83585c"]]},{"id":"45bc2315.83585c","type":"function","z":"6f1d88a3.034e28","name":"bulk delete function","func":"node.warn(msg.payload);  \nvar count = msg?msg.payload.docs.length:'0';\n// var list = [];\nvar data_ids = [];\nfor (i=0;i<count;i++) {\n    // node.warn(msg.deleteList.findIndex(item=> item.id == msg.payload.docs[i]._id))\n    if(msg.deleteList.findIndex(item=> item.id == msg.payload.docs[i]._id)===-1){\n        msg.deleteList.push({\n            _id: msg.payload.docs[i]._id,\n            _rev: msg.payload.docs[i]._rev,\n            _deleted: true\n        }); \n    }\n    \n    \n}\n\n// if (i == 0) {\n// msg.payload = \"No documents were found.  The database is empty!\";\n// return [null, msg];\n// }\n\n// msg.payload={\n//     \"selector\": {\n//         \"$or\": data_ids\n//     }\n// }\n\nmsg.payload = {\n                \"docs\": \n                msg.deleteList\n              }\n// msg.deleteList = list; \nnode.warn(msg);  \nreturn msg;","outputs":1,"noerr":0,"x":876.0173263549805,"y":2864.8994140625,"wires":[["5e7eaa5c.15e934"]]},{"id":"d9eb51ce.aee0b","type":"switch","z":"6f1d88a3.034e28","name":"dri_list","property":"deleteList","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":606.5207672119141,"y":2972.809154510498,"wires":[["549a75bc.0cb94c"],["5e7eaa5c.15e934"]]},{"id":"73b9e75e.907c08","type":"function","z":"6f1d88a3.034e28","name":"Tree Params","func":"var init_load = [\n\t\t{\n\t\t\tpayload: {\n\t\t\t\tuser_id: \"0e5b7ed337ed1bf69f61549a4c8f11df\", //system_id,\n\t\t\t\tportal_id: \"343872812e70987406017b4f833fa8be\", //system_id,\n\t\t\t\tnode_name: \"testGroup\", //group_name_company,\n\t\t\t\tinclude_data:true,\n\t\t\t\tinclude_head:false,\n\t\t\t\ttree_owner_id: \"0e5b7ed337ed1bf69f61549a4c8f11df\", //system_id\n\t\t},\n\t\t\tfn_name: \"get_node_name_tree\"\n\t\t}\n\t];\n\t\nmsg.payload = init_load ;\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[[]]},{"id":"afbe3e7c.e1719","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"var myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\n\nnode.warn(msg);\nmsg.payload = msg.payload.docs;\nnode.warn(msg.payload);\nif(msg.payload.length===0){\n    msg.payload={success: false, message: \"No data found\", data: null };\n    msg.recordFound=0;\n    node.warn(\"no record found\")\n    return msg;\n}else{\n    msg.recordFound=1;\n\n\nmsg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n            \n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config?val.template_config.key_name:'';\n        }\n        \n    }\n    \n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n        //get details part templates\n        if(dataHTML.length<1){\n            if(val.template_id.front_templates){\n               detail_templates = val.template_id.front_templates.detail.details_template_id;\n                if(Array.isArray(detail_templates)){\n                    dataHTML={html:[]};\n                    detail_templates.forEach(function(tmp, key){\n                        dataHTML.html.push(tmp);\n                        myArr.push({\"_id\": tmp});\n                    }) \n                }else{\n                    dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                    myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n                } \n            }else{\n                dataHTML={html:'list_child_d'};\n                myArr.push({\"_id\": 'list_child_d'});\n            }\n            \n        }\n        \n        if(dataHeader.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(val.list_templates.header.template_ids)\n            dataHeader={html:val.list_templates.header.template_ids[0], from_page_name: 'Home Page', current_page_id: val.page_name,}; //from_page_id: val.page_name,\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            \n        }\n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(\"checking footer\")\n            // node.warn(val.list_templates.footer);\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n                // record_type_pulldown: val.list_templates.footer.add_record_templates.record_type_pulldown,\n                // page_templates: {\n                //   \"text\": val.list_templates.footer.add_record_templates.page_templates.text,\n                //   \"number\": val.list_templates.footer.add_record_templates.page_templates.number,\n                //   \"dropdown\": val.list_templates.footer.add_record_templates.page_templates.dropdown,\n                //   \"boolean\": val.list_templates.footer.add_record_templates.page_templates.boolean,\n                //   \"list\": val.list_templates.footer.add_record_templates.page_templates.list,\n                // }\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n            // myArr.push({\"_id\": dataFooter.page_templates.text});\n            // myArr.push({\"_id\": dataFooter.page_templates.number});\n            // myArr.push({\"_id\": dataFooter.page_templates.dropdown});\n            // myArr.push({\"_id\": dataFooter.page_templates.boolean});\n            // myArr.push({\"_id\": dataFooter.page_templates.list});\n            \n        }\n        \n})\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n        \n\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nnode.warn(dataResponse);\nnode.warn(\"templates\")\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\nmsg.dataResponse=dataResponse;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1304.3507080078125,"y":475.01043701171875,"wires":[[]]},{"id":"bb5a1fbc.d91e1","type":"inject","z":"6f1d88a3.034e28","name":"","topic":"start","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124.0173568725586,"y":3229.010498046875,"wires":[["38d380dd.62843"]]},{"id":"38d380dd.62843","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\nvar user_id = \"47465f5fb22a9d9b0ec7ef7f72d03768\";\nmsg.payload = {\n    // query: \"page_name:page1 or user_id:\" + user_id\n    // query: \"page_name:page1\"\n    // query: \"page_name:page1 AND (user_id:\"+msg.req.query.user_id + \" OR user_id: 47465f5fb22a9d9b0ec7ef7f72d03768), sort: seq\",\n    // \"sort\":[{\n    //      \"seq:number\":\"desc\"\n    //  }],\n     \n     \"selector\":{\n         $or: [{ \"page_name\":{\n                 $exists:true\n             }},\n             {\n                \"table\": 'node',    \n             }\n             ]\n        \n         \n        //  \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n        //  \"$or\":[{'user_id':'d4cc1fe9004c421cf9df81727eaa2652'}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n     },\n      \n    //  \"sort\":[{\n        //  \"seq:number\":\"asc\"\n        //   \"seq\": \"asc\"\n    //  }],\n    //  \"sort\":['visible'],\n    //  \"limit\":2\n    \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":272.01737213134766,"y":3230.0104761123657,"wires":[["4a6a8354.143fdc"]]},{"id":"4a6a8354.143fdc","type":"http request","z":"6f1d88a3.034e28","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_find","tls":"","x":425.46179962158203,"y":3228.0104761123657,"wires":[["e2b2599a.c69cd8"]]},{"id":"e2b2599a.c69cd8","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\nlet deleteArr = []\nlet deleteTree = []\nif(msg.payload.docs.length!==0){\n    \n    // msg.payload.forEach(function(value,key){\n    msg.payload.docs.forEach(function(val,key){\n        var ind = msg.payload.docs.find(function(item){\n                  if(\n                     ( \n                //   val.page_name && \n                  item.template_config && \n                  val._id!=item._id && \n                  \n                  \n                //   item.template_config.page_name &&\n                  item.template_config.page_name==val.page_name\n                   )\n                   || (val.page_name == 'page1')\n                  ){\n                        // node.warn(\"INIF\")\n                        \n                        return true;\n                    }\n                    \n                         \n                })\n            \n        if(!ind && val.table!='node'){\n            \n            deleteArr.push({\n                _id: val._id,\n                _rev: val._rev,\n                _deleted: true\n            });\n        }\n        \n    })\n    \n    // node.warn(deleteArr);\n    msg.payload.docs.forEach(function(val,key){\n        var ind = deleteArr.find(function(item){\n                    // node.warn(item);\n                  if(\n                        val.table=='node' && \n                        val.data_id==item._id ){\n                        return true;\n                    }\n                         \n                })\n                \n        if(ind ){\n            // deleteArr.push(ind);\n            // deleteTree.push(val._id);\n            deleteTree.push({\n                _id: val._id,\n                _rev: val._rev,\n                _deleted: true\n            });\n        }\n        \n    })\n}\nvar deleteAll = deleteArr.concat(deleteTree);\nnode.warn(deleteArr);\nnode.warn(deleteTree);\nmsg.payload = {\n                \"docs\": \n                deleteAll\n              } \nreturn msg;              ","outputs":1,"noerr":0,"x":585.461799621582,"y":3227.0104761123657,"wires":[[]]},{"id":"3a1f7d3a.6487c2","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\nlet deleteArr = []\nif(msg.payload.docs.length!==0){\n    \n    // msg.payload.forEach(function(value,key){\n    msg.payload.docs.forEach(function(val,key){\n        // if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        // if(msg.payload.docs.findIndex(item => item.template_config.page_name != val.page_name)){\n        msg.payload.docs.findIndex(function(item){\n            // node.warn(item)\n            // node.warn(val);\n            // node.warn(item)\n            if(val.page_name && item.template_config && item.template_config.page_name!=val.page_name){\n                node.warn(val.page_name)\n                node.warn(val._id)\n            }\n        })\n        // ){\n        //     deleteArr.push(val._id)\n        //     node.warn(item._id)\n        // }\n        // console.log()\n    })\n}\nnode.warn(deleteArr);","outputs":1,"noerr":0,"x":573.0173416137695,"y":3188.232674598694,"wires":[[]]},{"id":"59c0cdb2.e1d814","type":"http request","z":"6f1d88a3.034e28","name":"deleteDocs","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_bulk_docs","tls":"","x":796.3507080078125,"y":3226.010498046875,"wires":[["2afe7c7.d0d2d84"]]},{"id":"2afe7c7.d0d2d84","type":"http response","z":"6f1d88a3.034e28","name":"Response","statusCode":"","headers":{},"x":713.595100402832,"y":3302.366068840027,"wires":[]},{"id":"1da37e96.7ac131","type":"ibmpush","z":"6f1d88a3.034e28","name":"","ApplicationID":"dri_list","identifiers":"","notification":"deviceid","mode":"SANDBOX","ApplicationRegion":"ng","x":484.1805725097656,"y":3405.7465591430664,"wires":[]},{"id":"96ca66d2.d17038","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"// msg.payload = {to:'fblf-hx6u0Y:APA91bHgcORWNk565XDHdoGjjj8jeJ4yDY62JA_iAp4TL8c7Z9lY-1lYJBMUAHgVGtN3zBXam2MSw1ax335aRqjFKdJstRdGdp-3-kbsiUP9wlIk812xB0zs2eLSoLIAFVprPoQtqihyjnCvNvfXnCGipA-nxsTXEg'};\nmsg.payload = {\n    // to:'fblf-hx6u0Y:APA91bHgcORWNk565XDHdoGjjj8jeJ4yDY62JA_iAp4TL8c7Z9lY-1lYJBMUAHgVGtN3zBXam2MSw1ax335aRqjFKdJstRdGdp-3-kbsiUP9wlIk812xB0zs2eLSoLIAFVprPoQtqihyjnCvNvfXnCGipA-nxsTXEg', // required fill with device token or topics\n    // to:'/topics/alluser', // required fill with device token or topics\n    // to:'cSdpV9YW_ww:APA91bESshKTsMJXlQOXnd0Bow2J2B7KvLGJPOljOZ7JEwYVKP5h8KDR_tXVwGGXK72thxObkq_N9wtp2Uuy_jwGsFIO9sN3_bqfXZibIlMcXcLK1dqj3wYLuzj1jglDqY0FbCpCg-1Z', // required fill with device token or topics\n    to: 'cp7zkTAqUGQ:APA91bGN-wLJwE790imM-FRvzpiqxLXHkicyaqeXryo12l4ZMSvwoCWVDalSleM0l4nfrDtw2QSQ3VvvAqd42GLeLR_j4NUSenkYRFbzJX6TPzqtoD7llOKP_mH0vUjSYck26wqPnOiQ',\n    collapse_key: 'your_collapse_key', \n    data: {\n        your_custom_data_key: 'your_custom_data_value'\n    },\n    notification: {\n        title: '1Title of your push notification',\n        body: '1Body of your push notification'\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":309.01734161376953,"y":3403.8997707366943,"wires":[["6c29f77.e10c008"]]},{"id":"2fe860e8.fb32f","type":"inject","z":"6f1d88a3.034e28","name":"","topic":"start","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148.01734924316406,"y":3406.8993911743164,"wires":[["96ca66d2.d17038"]]},{"id":"6c29f77.e10c008","type":"fcm-push","z":"6f1d88a3.034e28","name":"","x":480.1840362548828,"y":3455.93058013916,"wires":[]},{"id":"de5ab8c7.4fdd38","type":"function","z":"6f1d88a3.034e28","name":"dri_list","func":"node.warn(msg);\nmsg.payload.docs.forEach(function(numVal, numkey){\n    // node.warn(msg.user_data.params.record.length);\n    if(msg.user_data.params.renumberAll){\n        var indx = msg.user_data.params.record.findIndex(item=>item.id==numVal._id);\n    }\n\n\nif(numVal.user_id==msg.user_data.params.user_id || msg.user_data.params.undo_deleted){\n    //undo deleted record\n    if(msg.user_data.params.undo_deleted){\n        numVal.visible = true;\n    }\n    //if updating sec only\n    if(msg.user_data.params.updateField=='seq'){\n        numVal.seq = msg.user_data.params.renumberAll?msg.user_data.params.record[indx].seq:msg.user_data.params.record.seq;\n        // node.warn(numVal.seq);\n    }else{ //if updating key or value\n    \n        numVal.value={};\n        numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        node.warn(\"UPDATE KEYS\")\n        // if(numVal.template_config.key_name.default){\n           \n        //     // numVal.value = msg.user_data.params.record.content;\n        //     numVal.value={};\n        //     numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        //     node.warn(\"UPDATE KEYS\")\n        // }else{\n            \n        //     if(Object.keys(numVal.value).length){\n        //         node.warn(\"UPDATE KEYS2\")\n        //         numVal.value={};\n        //         numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        //     }else{\n        //         node.warn(\"UPDATE KEYS3\")\n        //         numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        //     }\n            \n        // }\n    }\n    numVal.updated_at = Date.now();\n    msg.recordAction = 'update';\n}else{\n     msg.recordAction = 'create';\n     node.warn(\"creating record\")\n    // node.warn(\"cominghere\")\n    if(msg.user_data.params.renumberAll){\n        numVal.value[msg.user_data.params.record[indx].content.key] = msg.user_data.params.record[indx].content.value;\n        numVal.seq = msg.user_data.params.record[indx].seq;\n        \n    }else{\n        numVal.value[msg.user_data.params.record.content.key] = msg.user_data.params.record.content.value;\n        numVal.seq = msg.user_data.params.record.seq;\n        \n    }\n   \n    numVal.user_id = msg.user_data.params.user_id;\n    numVal.query_data.lineage.edited_node_id = numVal._id;\n    numVal.query_data.lineage.user_id = msg.user_data.params.user_id;\n    numVal.reference = {\"ref1\": msg.user_data.params.user_id};\n    numVal.created_at = Date.now();\n    numVal.updated_at = Date.now();\n    \n    \n    \n    // node.warn(msg.user_data.params.record)\n    delete numVal['_id'];\n    delete numVal['_rev'];\n    \n}\n})\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":1026,"y":2083,"wires":[[]]},{"id":"843a437d.3c685","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"var myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\n\nnode.warn(msg);\nmsg.payload = msg.payload.docs;\nnode.warn(msg.payload);\n// if(msg.payload.length===0){\n//     msg.payload={success: false, message: \"No data found\", data: null };\n//     msg.recordFound=0;\n//     node.warn(\"no record found\")\n//     return msg;\n// }\n// msg.payload = msg.payload.docs;\nif(msg.payload.length===0){\n    \n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.from_page_id,\n        \"current_page_id\" :msg.req.query.current_page_id\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    myArr.push({\"_id\": 'footer'});\n    myArr.push({\"_id\": 'add_record_page_template'});\n    dataFooter={\n        html:'footer',\n        add_record_page_template: \"add_record_page_template\"\n    };\n            \n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:dataFooter};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n}\n// else{\n//     msg.recordFound=1;\n\n\nmsg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n            \n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config?val.template_config.key_name:'';\n        }\n        \n    }\n    \n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n        //get details part templates\n        if(dataHTML.length<1){\n            if(val.template_id.front_templates){\n               detail_templates = val.template_id.front_templates.detail.details_template_id;\n                if(Array.isArray(detail_templates)){\n                    dataHTML={html:[]};\n                    detail_templates.forEach(function(tmp, key){\n                        dataHTML.html.push(tmp);\n                        myArr.push({\"_id\": tmp});\n                    }) \n                }else{\n                    dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                    myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n                } \n            }else{\n                dataHTML={html:'list_child_d'};\n                myArr.push({\"_id\": 'list_child_d'});\n            }\n            \n        }\n        \n        if(dataHeader.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(val.list_templates.header.template_ids)\n            dataHeader={html:val.list_templates.header.template_ids[0], from_page_name: 'Home Page', current_page_id: val.page_name,}; //from_page_id: val.page_name,\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            \n        }\n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(\"checking footer\")\n            // node.warn(val.list_templates.footer);\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n                // record_type_pulldown: val.list_templates.footer.add_record_templates.record_type_pulldown,\n                // page_templates: {\n                //   \"text\": val.list_templates.footer.add_record_templates.page_templates.text,\n                //   \"number\": val.list_templates.footer.add_record_templates.page_templates.number,\n                //   \"dropdown\": val.list_templates.footer.add_record_templates.page_templates.dropdown,\n                //   \"boolean\": val.list_templates.footer.add_record_templates.page_templates.boolean,\n                //   \"list\": val.list_templates.footer.add_record_templates.page_templates.list,\n                // }\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n            // myArr.push({\"_id\": dataFooter.page_templates.text});\n            // myArr.push({\"_id\": dataFooter.page_templates.number});\n            // myArr.push({\"_id\": dataFooter.page_templates.dropdown});\n            // myArr.push({\"_id\": dataFooter.page_templates.boolean});\n            // myArr.push({\"_id\": dataFooter.page_templates.list});\n            \n        }\n        \n})\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n        \n\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nnode.warn(dataResponse);\nnode.warn(\"templates\")\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\nmsg.dataResponse=dataResponse;\nreturn msg;\n// }\n","outputs":1,"noerr":0,"x":1300,"y":564,"wires":[[]]},{"id":"52b77406.b60f1c","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\nvar user_id = \"47465f5fb22a9d9b0ec7ef7f72d03768\";\nvar qr1 = [{\"page_name\":msg.req.query.from_page_id}, {'template_config.page_name':msg.req.query.from_page_id}];\n// , {'template_config.page_name':msg.req.query.from_page_id}\nmsg.payload = {\n    \"selector\":{\n        //  \"page_name\":msg.req.query.from_page_id,\n        //  \"$or\":[{\"page_name\":msg.req.query.from_page_id}, {'template_config.page_name':msg.req.query.from_page_id}],\n        //  \"visible\": true,\n        //  \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}]\n         \n        //  \"$or\":[{\"page_name\":msg.req.query.from_page_id}, {'template_config.page_name':msg.req.query.from_page_id}],\n         \"visible\": true,\n         \"$and\": [{\"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}]}, {\"$or\":qr1}] \n         \n     },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n         \"seq\":\"asc\"\n     }],\n    \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1220,"wires":[["febd6be.9e4d498"]]},{"id":"d35d6da9.634f9","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\nvar user_id = \"47465f5fb22a9d9b0ec7ef7f72d03768\";\nmsg.payload = {\n    // query: \"page_name:page1 or user_id:\" + user_id\n    // query: \"page_name:page1\"\n    // query: \"page_name:page1 AND (user_id:\"+msg.req.query.user_id + \" OR user_id: 47465f5fb22a9d9b0ec7ef7f72d03768), sort: seq\",\n    // \"sort\":[{\n    //      \"seq:number\":\"desc\"\n    //  }],\n     \n     \"selector\":{\n         \"page_name\":'page1',\n         \"visible\": true,\n         \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'},{_id:'d639ccdcc7f597d7beaa4e3cf29f84b9'}],\n        //  \"$or\":[{'user_id':'d4cc1fe9004c421cf9df81727eaa2652'}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n     },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n          \"seq\": \"asc\"\n     }],\n    //  \"sort\":['visible'],\n    //  \"limit\":2\n    \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":604,"wires":[[]]},{"id":"204372cd.404f3e","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"node.warn(msg);\nmsg.payload = msg.payload.docs;\nnode.warn(msg.payload.length);\n\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nvar page_heading = '';\nvar page_heading_id = '';\n\n\nif(msg.payload.length===0){\n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.from_page_id,\n        \"current_page_id\" :msg.req.query.current_page_id\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:{htmk:null}};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n\n\n    msg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    if(val.template_config.key_name.default){\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        \n        \n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n        }\n        \n    }\n    \n    //get current page heading \n    if(val.template_config.page_name==msg.req.query.from_page_id){\n       page_heading =  contentKeyValue.value; \n       page_heading_id = val._id;\n    }\n    \n    //get edit page template\n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n    // if(dataHTML.length<1 && val.template_id.front_templates){\n    //     dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n    //     myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n    // }\n    \n    //get details part templates\n    if(dataHTML.length<1){\n        if(val.template_id.front_templates){\n           detail_templates = val.template_id.front_templates.detail.details_template_id;\n            if(Array.isArray(detail_templates)){\n                dataHTML={html:[]};\n                detail_templates.forEach(function(tmp, key){\n                    dataHTML.html.push(tmp);\n                    myArr.push({\"_id\": tmp});\n                }) \n            }else{\n                dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n            } \n        }else{\n            dataHTML={html:'list_child_d'};\n            myArr.push({\"_id\": 'list_child_d'});\n        }\n        \n    }\n        \n    if(dataHeader.length<1 ){\n        if((val.list_templates && Object.keys(val.list_templates).length)){\n            // dataHeader={html:val.list_templates.header.template_ids[0], from_page_id: msg.req.query.from_page_id, from_page_name: msg.req.query.from_page_name, current_page_id:msg.req.query.from_page_id};\n\n            dataHeader={html:val.list_templates.header.template_ids[0], from_page_name: msg.req.query.from_page_name, current_page_id:msg.req.query.from_page_id};\n\n            if(val.page_name){\n                // dataHeader.from_page_id=val.from_page_id;\n                dataHeader.from_page_id=val.from_page_id;\n            }\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            node.warn(\"coming in IF\")\n            \n        }else{\n            var header_id = msg.req.query.from_page_id=='page1'?'front_header': 'list_child_h';\n            dataHeader={html:header_id, from_page_name: page_heading, current_page_id:msg.req.query.from_page_id};\n            if(val.page_name){\n                dataHeader.from_page_id=val.from_page_id;\n                \n            }\n            myArr.push({\"_id\": header_id});\n            node.warn(\"coming in else\")\n            node.warn(dataHeader.from_page_id)\n        }\n    }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // dataFooter={html:val.list_templates.footer.template_ids[0]};\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n        }else{\n            dataFooter={\n                html:\"footer\",\n                add_record_page_template: \"add_record_page_template\"\n            };\n            myArr.push({\"_id\": dataFooter.html});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n        }\n        \n})\n\nif(page_heading){\n    dataHeader.from_page_name=page_heading;\n}else{\n    dataHeader.from_page_name=\"Home Page\";\n}\n\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n    if(dataValues.findIndex(item=> item.id == page_heading_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == page_heading_id),1)\n        node.warn(\"position\");\n        node.warn(dataValues.findIndex(item=> item.id == page_heading_id));\n    }\n    \n    \n })\n \n\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n        \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1241,"y":1109,"wires":[[]]},{"id":"e291e3e2.a02c1","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\n// var user_id = msg.req.query.sorting==='default'?\"47465f5fb22a9d9b0ec7ef7f72d03768\":msg.req.query.user_id;\nvar query={};\nvar default_user = '47465f5fb22a9d9b0ec7ef7f72d03768';\nif(msg.req.query.sorting==='default'){\n    query = {\n        \"page_name\":msg.req.query.pageId,\n        'user_id':default_user,\n        \"visible\": true\n        \n    }\n        \n}else{\n    query = {\n        \"page_name\":msg.req.query.pageId,\n        \"visible\": true,\n        \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': default_user}]};\n}\nmsg.payload = {\n    // query: \"page_name:page1 or user_id:\" + user_id\n    // query: \"page_name:page1\"\n    // query: \"page_name:page1 AND (user_id:\"+msg.req.query.user_id + \" OR user_id: 47465f5fb22a9d9b0ec7ef7f72d03768), sort: seq\",\n    // \"sort\":[{\n    //      \"seq:number\":\"desc\"\n    //  }],\n     \n     \"selector\":query,\n    //  {\n    //      \"page_name\":msg.req.query.pageId,\n    //     //  \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n    //     // 'user_id':user_id\n    //     query\n    //  },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n         \"seq\":\"asc\"\n     }],\n    //  \"limit\":2\n    \n};\n\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":861,"y":1598,"wires":[[]]},{"id":"470619ec.d0d268","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"node.warn(msg);\nmsg.payload = msg.payload.docs;\n// node.warn(msg.payload);\nif(msg.payload.length===0){\n    msg.payload={success: false, message: \"No data found\", data: null };\n    msg.recordFound=0;\n    return msg;\n}else{\n    msg.recordFound=1;\n\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\nmsg.payload.forEach(function(val,key){\n    var contentKeyValue={};\n    \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n            node.warn(key1);\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{\n        for(var key2 in val.value){\n            node.warn(key2);\n          contentKeyValue={key:key2, value: val.value[key2]};\n        }\n    }\n    \n    if(Object.keys(contentKeyValue).length===0){\n        \n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n             var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n        }\n        \n    }\n    \n    if(val.template_id.edit_templates){\n        \n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        \n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue, dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n        // if(dataHTML.length<1 && val.template_id.edit_templates){\n        //     dataHTML={html:val.template_id.edit_templates.detail.details_template_id, from_page_name: 'Home Page'};\n        //     myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        // }\n        \n        //get details part templates\n        if(dataHTML.length<1){\n            if(val.template_id.front_templates){\n               detail_templates = val.template_id.front_templates.detail.details_template_id;\n                if(Array.isArray(detail_templates)){\n                    dataHTML={html:[], from_page_name: 'Home Page'};\n                    detail_templates.forEach(function(tmp, key){\n                        dataHTML.html.push(tmp);\n                        myArr.push({\"_id\": tmp});\n                    }) \n                }else{\n                    dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                    myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n                } \n            }else{\n                dataHTML={html:'list_child_d'};\n                myArr.push({\"_id\": 'list_child_d'});\n            }\n            \n        }\n        \n        if(dataHeader.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            node.warn(val.list_templates)\n            dataHeader={html:val.list_templates.header.template_ids[0],from_page_id: val.page_name, from_page_name: msg.req.query.from_page_name};\n            myArr.push({\"_id\": val.list_templates.header.template_ids[0]});\n            \n        }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            dataFooter={html:val.list_templates.footer.template_ids[0],\n            add_record_page_template: \"add_record_page_template\"\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n        }\n        \n})\n\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n        \n        \ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\nmsg.dataResponse=dataResponse;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1225,"y":1479,"wires":[[]]},{"id":"765b56e6.f5c8d8","type":"function","z":"6f1d88a3.034e28","name":"Query","func":"node.warn(msg);\n// var user_id = msg.req.query.sorting==='default'?\"47465f5fb22a9d9b0ec7ef7f72d03768\":msg.req.query.user_id;\nvar query={};\nvar default_user = '47465f5fb22a9d9b0ec7ef7f72d03768';\n// var querydata=JSON.parse(msg.req.query); \n// node.warn(JSON.parse(msg.req.query.show_deleted));\nif(msg.req.query.show_deleted===\"true\"){\n    query = {\n        \"page_name\":msg.req.query.pageId,\n        \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': default_user}],\n        \"visible\": false\n        \n    }\n}else{\n    query = {\n        \"page_name\":msg.req.query.pageId,\n        \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': default_user}],\n        \"visible\": true\n    };\n}\nmsg.payload = {\n    // query: \"page_name:page1 or user_id:\" + user_id\n    // query: \"page_name:page1\"\n    // query: \"page_name:page1 AND (user_id:\"+msg.req.query.user_id + \" OR user_id: 47465f5fb22a9d9b0ec7ef7f72d03768), sort: seq\",\n    // \"sort\":[{\n    //      \"seq:number\":\"desc\"\n    //  }],\n     \n     \"selector\":query,\n    //  {\n    //      \"page_name\":msg.req.query.pageId,\n    //     //  \"$or\":[{'user_id':msg.req.query.user_id}, {'user_id': '47465f5fb22a9d9b0ec7ef7f72d03768'}],\n    //     // 'user_id':user_id\n    //     query\n    //  },\n      \n     \"sort\":[{\n        //  \"seq:number\":\"asc\"\n         \"seq\":\"asc\"\n     }],\n    //  \"limit\":2\n    \n};\n\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":861,"y":1915,"wires":[[]]},{"id":"e53bbf1c.47671","type":"function","z":"6f1d88a3.034e28","name":"Response","func":"// msg.payload = init_load ;\nnode.warn(msg);\nvar myArr=[];\nvar dataValues=[];\nvar dataHTML=[];\nvar dataHeader=[];\nvar dataFooter=[];\nvar dataResponse=[];\n\nmsg.payload = msg.payload.docs;\nif(msg.payload.length===0){\n    // msg.payload={\n    //     success: false, \n    //     message: \"No data found\", \n    //     data: {\n    //             \"header\":\n    //             {\n    //                 \"html\":'list_child_h',\n    //                 \"from_page_name\": msg.req.query.from_page_name, \n    //                 \"from_page_id\": msg.req.query.from_page_id,\n    //                 \"current_page_id\" :msg.req.query.current_page_id\n                    \n    //             }\n            \n    //     } \n        \n    // };\n    dataHeader = {\n        \"html\":'list_child_h',\n        \"from_page_name\": msg.req.query.from_page_name, \n        \"from_page_id\": msg.req.query.pageId,\n        \"current_page_id\" :msg.req.query.current_page_id\n        \n    }\n    myArr.push({\"_id\": 'list_child_h'});\n    myArr.push({\"_id\": 'list_child_d'});\n    dataHTML={html:'list_child_d'};\n    \n    msg.recordFound=0;\n    \n    dataResponse={header:dataHeader, details:{html:dataHTML,content:[]}, footer:{html:null}};\n    // dataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\n    msg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\nnode.warn(msg);\nreturn msg;\n}else{\n    msg.recordFound=1;\n}\n\n\n\n// var myArr=[];\n\n// var dataValues=[];\n// var dataHTML=[];\n// var dataHeader=[];\n// var dataFooter=[];\n// var dataResponse=[];\n\nmsg.payload.forEach(function(val,key){\n    \n    var contentKeyValue={};\n   \n    //if pulldown have data in value and need to send all option to app\n    if(val.template_config.key_name.default){\n        // contentKeyValue=val.value;\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n        var dropdown=val.template_config.key_name.value;\n    }else{ //if its not pulldown\n        for(var key1 in val.value){\n          contentKeyValue={key:key1, value: val.value[key1]};\n        }\n    }\n    \n    //if value is blank \n    if(Object.keys(contentKeyValue).length===0){\n        // contentKeyValue=val.template_config.key_name;\n        if(val.template_config.key_name.default){\n            contentKeyValue={\"key\":val.template_config.key_name.key, \"value\":val.template_config.key_name.default};\n            var dropdown=val.template_config.key_name.value;\n        }else{\n            contentKeyValue=val.template_config.key_name;\n            \n        }\n    }\n    if(val.template_id.edit_templates){\n        var edit_template = {details: val.template_id.edit_templates.detail.details_template_id,\n                            header: val.template_id.edit_templates.header.header_template_id\n        }\n        myArr.push({\"_id\": val.template_id.edit_templates.detail.details_template_id});\n        myArr.push({\"_id\": val.template_id.edit_templates.header.header_template_id});\n    }\n        dataValues.push({content:contentKeyValue,dropdown:dropdown, to_page_id:val.template_config.page_name, id: val._id, edit_template: edit_template, type:val.type, seq:val.seq});\n        \n        // //User data wins over default data\n        // if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        //     dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n            \n        // }\n        // //User data wins over default data\n        // if(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id)  !== -1){\n        //     msg.payload.splice(msg.payload.findIndex(item=> item._id == val.query_data.lineage.edited_node_id),1)\n        // }\n        \n        // if(dataHTML.length<1){\n        //     dataHTML={html:'list_child_d'};\n        //     myArr.push({\"_id\": 'list_child_d'});\n        // }\n        \n        //get details part templates\n        if(dataHTML.length<1){\n            if(val.template_id.front_templates){\n               detail_templates = val.template_id.front_templates.detail.details_template_id;\n                if(Array.isArray(detail_templates)){\n                    dataHTML={html:[], from_page_name: 'Home Page'};\n                    detail_templates.forEach(function(tmp, key){\n                        dataHTML.html.push(tmp);\n                        myArr.push({\"_id\": tmp});\n                    }) \n                }else{\n                    dataHTML={html:val.template_id.front_templates.detail.details_template_id};\n                    myArr.push({\"_id\": val.template_id.front_templates.detail.details_template_id});\n                } \n            }else{\n                dataHTML={html:'list_child_d'};\n                myArr.push({\"_id\": 'list_child_d'});\n            }\n            \n        }\n        \n        var frompageid = val.page_name===\"page1\"?\"page1\":val.from_page_id;\n        var from_page_name = msg.req.query.show_deleted===\"true\"?\" Deleted Records\":msg.req.query.from_page_name;\n        if(dataHeader.length<1){\n            dataHeader={html:'list_child_h',from_page_id: frompageid, from_page_name: from_page_name, current_page_id:msg.req.query.current_page_id};\n            myArr.push({\"_id\": 'list_child_h'});\n            \n        }\n        // if(dataFooter.length<1){\n        //     dataFooter={html:'list_child_f'};\n        //     myArr.push({\"_id\": 'list_child_f'});\n        // }\n        \n        if(dataFooter.length<1 && (val.list_templates && Object.keys(val.list_templates).length)){\n            // node.warn(\"checking footer\")\n            // node.warn(val.list_templates.footer);\n            dataFooter={\n                html:val.list_templates.footer.template_ids[0],\n                add_record_page_template: \"add_record_page_template\"\n                // record_type_pulldown: val.list_templates.footer.add_record_templates.record_type_pulldown,\n                // page_templates: {\n                //   \"text\": val.list_templates.footer.add_record_templates.page_templates.text,\n                //   \"number\": val.list_templates.footer.add_record_templates.page_templates.number,\n                //   \"dropdown\": val.list_templates.footer.add_record_templates.page_templates.dropdown,\n                //   \"boolean\": val.list_templates.footer.add_record_templates.page_templates.boolean,\n                //   \"list\": val.list_templates.footer.add_record_templates.page_templates.list,\n                // }\n            };\n            myArr.push({\"_id\": val.list_templates.footer.template_ids[0]});\n            myArr.push({\"_id\": dataFooter.add_record_page_template});\n            // myArr.push({\"_id\": dataFooter.page_templates.text});\n            // myArr.push({\"_id\": dataFooter.page_templates.number});\n            // myArr.push({\"_id\": dataFooter.page_templates.dropdown});\n            // myArr.push({\"_id\": dataFooter.page_templates.boolean});\n            // myArr.push({\"_id\": dataFooter.page_templates.list});\n            \n        }\n        \n        \n})\n//User data wins over default data\n msg.payload.forEach(function(val,key){\n    if(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id)!=-1){\n        dataValues.splice(dataValues.findIndex(item=> item.id == val.query_data.lineage.edited_node_id),1)\n    }\n })\n \nnode.warn(dataValues);\ndataResponse={header:dataHeader, details:{html:dataHTML,content:dataValues}, footer:dataFooter};\nmsg.payload = {\n    \n   \"selector\": {\n    //   \"$or\": [\n    //      {\n    //         \"_id\": \"a770017b0b27b73c9fd004bfc452fabd\"\n    //      },\n    //      {\n    //         \"_id\": \"966d69d4f290dfbc123c0a04895ee2a0\"\n    //      }\n    //   ]\n    \"$or\":myArr\n   }\n\n};\n\nmsg.dataResponse=dataResponse;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1220,"y":1790,"wires":[[]]}]
