LoginAPI/11092018
[{"id":"5a4bbb74.9fdf24","type":"function","z":"51119cab.bd09e4","name":"phone","func":"node.warn(msg);\nmsg.payload = {\n    query: \"table:users AND virtual_phone:\" + msg.user_data.phone\n};\n\nnode.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":492.0000114440918,"y":182.99999809265137,"wires":[["fbaf5605.d97998"]]},{"id":"85a945ea.01fa78","type":"debug","z":"51119cab.bd09e4","name":"Going to save user if not found in db","active":true,"tosidebar":true,"console":false,"complete":"payload","x":489,"y":287,"wires":[]},{"id":"a24f52d8.70283","type":"function","z":"51119cab.bd09e4","name":"Merge data for update","func":"var db_data = msg.db_output, user_data = msg.user_data, payload = {};\nnode.warn(msg);\nmsg.verification_code = rand();\n\nif(isEmpty(db_data)) {\n    var userObj = {\n        table       : \"users\",\n        access_token:  null,\n        phone       :  parseInt(user_data.phone),\n        virtual_phone: parseInt(user_data.phone),\n        security_level: 0,\n        firstname         : parseInt(user_data.phone) || \"\",\n        lastname          : \"\",\n        code:         msg.verification_code,\n        type: {\n            \"public\": \"public\"\n        },\n        data: {},\n        device_id: msg.user_data.device_id || \"\",\n        push_accepted: msg.push_accepted || 1\n    };\n    msg.alreadyExist = false;\n}else {\n    var userObj = db_data[0];\n    \n    userObj.phone           = userObj.phone || parseInt(user_data.phone) ;\n    userObj.virtual_phone   = userObj.virtual_phone || parseInt(user_data.phone) ;\n    userObj.long_url        = userObj.long_url || \"\";\n    userObj.access_token    = userObj.access_token ;\n    userObj.security_level  = userObj.security_level;\n    userObj.email           = userObj.email || \"\";\n    userObj.firstname       = userObj.firstname || \"\";\n    userObj.lastname        = userObj.lastname || \"\";\n    userObj.code            = msg.verification_code;\n    userObj.data            = userObj.data;\n    userObj.image           = userObj.image || \"\";\n    userObj.device_id       = msg.user_data.device_id || userObj.device_id;\n    userObj.push_accepted   = msg.push_accepted || userObj.push_accepted;\n    \n    msg.alreadyExist = true;\n}\n\n\n\nmsg.security_level = userObj.security_level ;\nmsg.payload={docs: []};\nmsg.payload.docs.push(userObj);\nnode.warn(userObj)\nreturn msg;\n\nfunction rand() {\n    return Math.floor(1000 + Math.random() * 9000);\n}\n\nfunction token() {\n    return new Date().getTime() + \".\" +Math.random().toString(36).substr(2) ;\n}\n\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}\n","outputs":1,"noerr":0,"x":180,"y":320,"wires":[["85a945ea.01fa78","3178c028.48b66","3570503f.5e9d9"]]},{"id":"3b032e46.990442","type":"http in","z":"51119cab.bd09e4","name":"","url":"/api/login","method":"post","upload":false,"swaggerDoc":"","x":98.00000381469727,"y":181.00000095367432,"wires":[["3cdf1950.2334d6","93578087.8cced"]]},{"id":"3cdf1950.2334d6","type":"change","z":"51119cab.bd09e4","name":"Move to user_data","rules":[{"t":"move","p":"payload","pt":"msg","to":"user_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":180,"wires":[["5a4bbb74.9fdf24"]]},{"id":"fbaf5605.d97998","type":"cloudant in","z":"51119cab.bd09e4","name":"get user by phone","cloudant":"","database":"dev-platform2","service":"dev-platform2-cloudantNoSQLDB","search":"_idx_","design":"filterBy","index":"filterBy","x":668.9999694824219,"y":178.99999237060547,"wires":[["1450a953.b45247"]]},{"id":"1450a953.b45247","type":"change","z":"51119cab.bd09e4","name":"Move to db_output","rules":[{"t":"move","p":"payload","pt":"msg","to":"db_output","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["a24f52d8.70283"]]},{"id":"6df43139.a5891","type":"cloudant out","z":"51119cab.bd09e4","name":"save user to db","cloudant":"","database":"dev-platform2","service":"dev-platform2-cloudantNoSQLDB","payonly":true,"operation":"insert","x":427.00003814697266,"y":337.0000400543213,"wires":[]},{"id":"50a0ffd0.eb1fe","type":"http in","z":"51119cab.bd09e4","name":"","url":"/api/verify","method":"get","upload":false,"swaggerDoc":"","x":102,"y":763,"wires":[["3a764a89.a0ac16","cc39aa21.8d2aa8"]]},{"id":"3a764a89.a0ac16","type":"change","z":"51119cab.bd09e4","name":"Move to request_data","rules":[{"t":"move","p":"payload","pt":"msg","to":"request_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":327,"y":764,"wires":[["59c628dd.3d6058"]]},{"id":"59c628dd.3d6058","type":"function","z":"51119cab.bd09e4","name":"2. user_phone","func":"node.warn(msg);\nif(isEmpty(msg.request_data.phone)){\n    msg.api_status = \"API_ERROR\";\n    msg.payload    = {status: 400, error: true, msg: \"`phone` is required to fullfil request\", data: null};\n}else if(isEmpty(msg.request_data.code)){\n    msg.api_status = \"API_ERROR\";\n    msg.payload    = {status: 400, error: true, msg: \"`code` is required to fullfil request\", data: null};\n }else if(isEmpty(msg.request_data.device_id)){\n    msg.api_status = \"API_ERROR\";\n    msg.payload    = {status: 400, error: true, msg: \"`device_id` is required to fullfil request\", data: null};\n}else if(isEmpty(msg.request_data.push_accepted)){\n    msg.api_status = \"API_ERROR\";\n    msg.payload    = {status: 400, error: true, msg: \"`push_accepted` is required to fullfil request\", data: null};\n}else{\n    msg.api_status = \"API_SUCCESS\";\n    msg.payload = {\n        query: \"table: users AND virtual_phone:\"+ msg.request_data.phone\n    };    \n}\nreturn msg;\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}\n","outputs":1,"noerr":0,"x":527,"y":764,"wires":[["6d7a27c8.893ce8"]]},{"id":"3178c028.48b66","type":"switch","z":"51119cab.bd09e4","name":"security_level","property":"security_level","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":414.0000457763672,"y":382.00004863739014,"wires":[["2a7d53e0.dced7c"],["8dd43d44.14e72"]]},{"id":"954696c.bafd768","type":"cloudant in","z":"51119cab.bd09e4","name":"get user by token","cloudant":"","database":"dev-platform2","service":"dev-platform2-cloudantNoSQLDB","search":"_idx_","design":"filterBy","index":"filterBy","x":908.9999694824219,"y":802.0000305175781,"wires":[["1a1b0d87.0a7ff2"]]},{"id":"1a1b0d87.0a7ff2","type":"change","z":"51119cab.bd09e4","name":"Move to db_user","rules":[{"t":"move","p":"payload","pt":"msg","to":"db_user","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":209,"y":844,"wires":[["f995c04.e3c714"]]},{"id":"f995c04.e3c714","type":"function","z":"51119cab.bd09e4","name":"check verify code","func":"node.warn(msg)\nvar db_data = msg.db_user, request_data = msg.request_data;\nvar response = {};\n\nfunction check_obj(obj){\n    if(obj === null || obj === undefined){\n        return 0;\n    }else{\n        return Object.keys(obj).length;\n    }\n}\n\nif(check_obj(db_data) > 0) {\n    var db_code = db_data[0].code;\n    //db_code = \"1234\";\n    if(String(db_data[0].virtual_phone).length == 5){\n        if(request_data.code == 1234){\n            response.status = \"success\";\n        }else{\n            response.status = \"fail\";\n            response.msg = \"Invalid Code\";\n        } \n    }else if(String(db_data[0].virtual_phone).length > 7 &&  String(db_data[0].virtual_phone).length <= 12){\n        if(parseInt(request_data.code) == db_code){\n            response.status = \"success\";\n        }else{\n            response.status = \"fail\";\n            response.msg = \"Invalid Code\";\n        } \n    }else{\n        if(request_data.code == db_code){\n            response.status = \"success\";\n        }else{\n            response.status = \"fail\";\n            response.msg = \"Invalid Code\";\n        }    \n    }\n}\nelse{\n    response.status = \"fail\";\n    response.msg = \"Invalid Token\";\n}\n\nnode.warn(response)\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":469,"y":844,"wires":[["52edf381.58a6ec"]]},{"id":"9e383d70.2aaf3","type":"http response","z":"51119cab.bd09e4","name":"API Result","x":1029.0000305175781,"y":980.0000381469727,"wires":[]},{"id":"52edf381.58a6ec","type":"switch","z":"51119cab.bd09e4","name":"Status","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"},{"t":"eq","v":"fail","vt":"str"}],"checkall":"true","outputs":2,"x":249,"y":924,"wires":[["8e55d130.557ca"],["d8229085.52795"]]},{"id":"a6a9a5db.99d908","type":"function","z":"51119cab.bd09e4","name":"2. return menu page","func":"var response = {\n    \"page_id\":  return_page_id(msg.payload.virtual_phone),\n    \"access_token\": msg.access_token,\n    \"user_id\":  msg.payload._id,\n    \"status\":   \"valid\"\n};\nmsg.payload = response;\nreturn msg;\n\nfunction return_page_id(number){\n    if(number){\n        if( ( Number(number) === 12313426657) || (Number(number) === 12068835352) ){ //Jessica Rohloff/Kyle  Number then return 26\n            return 26 ;//stumped category page......\n        }else{\n            return 2; //category page \n        }\n    }else{\n        node.warn(\"When user virtual_phone is undefined in verification process.\");\n        return 1; //else login page\n    }\n}","outputs":1,"noerr":0,"x":759,"y":944,"wires":[["9e383d70.2aaf3","5ad72049.6639"]]},{"id":"8e2caf7e.f0c3c","type":"cloudant out","z":"51119cab.bd09e4","name":"update security level","cloudant":"","database":"dev-platform2","service":"dev-platform2-cloudantNoSQLDB","payonly":true,"operation":"insert","x":779,"y":884,"wires":[]},{"id":"8e55d130.557ca","type":"function","z":"51119cab.bd09e4","name":"Merge data for update","func":"var db_data = msg.db_user[0] ,\n    body    = msg.request_data ;\n    \nmsg.access_token = token();\n\ndb_data.access_token   = msg.access_token;\ndb_data.security_level = 1 ;\ndb_data.device_token = populate_device_token(db_data.device_token, body) ;\ndb_data.push_accepted = parseInt(body.push_accepted) || 1 ;\n\nmsg.payload = db_data;\nreturn msg;\n\n\nfunction token() {\n    return new Date().getTime() + \".\" +Math.random().toString(36).substr(2) ;\n}\n\nfunction populate_device_token(device_detail, req_body){\n    if(isEmpty(device_detail)){\n        if( (req_body.device_id == \"Web View\") || (req_body.device_type == \"Web Browser\")){\n            return {};\n        }else{\n            var temp = {};\n            temp[req_body.device_fingerprint] = {\n              device_type: req_body.device_type ,\n              device_id  : req_body.device_id\n            };\n            return temp ;\n        }\n    }else{\n        var local_temp = {};\n        local_temp[req_body.device_fingerprint] = {\n          device_type: req_body.device_type ,\n          device_id  : req_body.device_id\n        };\n        return Object.assign(device_detail, local_temp);\n    }    \n}\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}","outputs":1,"noerr":0,"x":479,"y":924,"wires":[["a6a9a5db.99d908","8e2caf7e.f0c3c"]]},{"id":"d8229085.52795","type":"function","z":"51119cab.bd09e4","name":"1. return login page","func":"var payload = {\n    \"page_id\":  1,\n    \"status\":   \"invalid\"\n};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":1004,"wires":[["c996ddac.ed9d8","7c856c9f.706c74"]]},{"id":"93578087.8cced","type":"debug","z":"51119cab.bd09e4","name":"API Login ","active":true,"tosidebar":true,"console":false,"complete":"true","x":269,"y":142.99999237060547,"wires":[]},{"id":"cc39aa21.8d2aa8","type":"debug","z":"51119cab.bd09e4","name":"Verify screeen","active":true,"tosidebar":true,"console":false,"complete":"true","x":326,"y":703,"wires":[]},{"id":"2a7d53e0.dced7c","type":"function","z":"51119cab.bd09e4","name":"11. return verify page & ac","func":"var req_body = msg.user_data ;\nnode.warn(\"test\");\nif(msg.user_data.phone){\n  \n    if(String(msg.user_data.phone).length === 4){\n        msg.sendverification = \"no_need_to_send\";\n        msg.api_response = {\n            \"page_id\":      11,\n            \"code\" : msg.verification_code\n        };\n    }else{\n        if(String(msg.user_data.phone).length >= 7 && String(msg.user_data.phone).length <= 12){\n            msg.sendverification = \"need_to_send_verification\" ;\n            msg.api_response = {\n                \"page_id\":      11,\n                \"code\" : msg.verification_code\n            };    \n        }else{\n            msg.sendverification = \"no_need_to_send\" ;\n            msg.api_response = {\n                \"page_id\":      1,\n                \"code\" : msg.verification_code,\n                \"msg\"  : \"Invalid phone number\"\n            };\n        }\n    }\n}else{\n    msg.sendverification = \"no_need_to_send\" ;\n    msg.api_response = {\n                \"page_id\":      1,\n                \"code\" : msg.verification_code,\n                \"msg\"  : \"Invalid phone number\"\n            };\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":675.88671875,"y":343.48828125,"wires":[["72119193.7aa5e"]]},{"id":"72119193.7aa5e","type":"switch","z":"51119cab.bd09e4","name":"","property":"sendverification","propertyType":"msg","rules":[{"t":"eq","v":"need_to_send_verification","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":937.515625,"y":361.25,"wires":[["35a957ea.458b68"],["7e91672b.62bab8"]]},{"id":"35a957ea.458b68","type":"function","z":"51119cab.bd09e4","name":"send sms code","func":"var user_data = msg.user_data;\nvar code = msg.verification_code || 1234;\nmsg.topic = user_data.phone || 12145644732;\nmsg.payload = \"Your verification code for the DoMeNow app is : \" + code;\n\nreturn msg;","outputs":1,"noerr":0,"x":1120.515625,"y":313,"wires":[["847004da.8741b8","a7b30f2b.35c5","513105ec.22f65c"]]},{"id":"847004da.8741b8","type":"debug","z":"51119cab.bd09e4","name":"Responded via Twilio","active":true,"console":"false","complete":"true","x":1410.515625,"y":336,"wires":[]},{"id":"dc47dbcc.029898","type":"http response","z":"51119cab.bd09e4","name":"API Result","x":1545.515625,"y":236.25,"wires":[]},{"id":"a7b30f2b.35c5","type":"change","z":"51119cab.bd09e4","name":"change","rules":[{"t":"move","p":"api_response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1367.3828125,"y":236.16796875,"wires":[["dc47dbcc.029898"]]},{"id":"7e91672b.62bab8","type":"change","z":"51119cab.bd09e4","name":"change","rules":[{"t":"move","p":"api_response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1099.640625,"y":370.1640625,"wires":[["ffa81b4.49df6e8","92834ddd.bf31"]]},{"id":"ffa81b4.49df6e8","type":"http response","z":"51119cab.bd09e4","name":"Api result","x":1371.62499076128,"y":387.15234177559614,"wires":[]},{"id":"92834ddd.bf31","type":"debug","z":"51119cab.bd09e4","name":"api_response ","active":true,"console":"false","complete":"payload","x":1385,"y":432,"wires":[]},{"id":"c996ddac.ed9d8","type":"debug","z":"51119cab.bd09e4","name":"login page return again","active":true,"tosidebar":true,"console":false,"complete":"payload","x":733.8333969116211,"y":1085.0000705718994,"wires":[]},{"id":"5ad72049.6639","type":"debug","z":"51119cab.bd09e4","name":"menu page return ","active":true,"console":"false","complete":"payload","x":1046.8334045410156,"y":929.0000178019206,"wires":[]},{"id":"6d7a27c8.893ce8","type":"switch","z":"51119cab.bd09e4","name":"","property":"api_status","propertyType":"msg","rules":[{"t":"eq","v":"API_SUCCESS","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":699.8333435058594,"y":733.6667175292969,"wires":[["954696c.bafd768"],["26f89028.5c951","2fefd434.8028cc"]]},{"id":"26f89028.5c951","type":"http response","z":"51119cab.bd09e4","name":"","x":872.8333435058594,"y":738.6667175292969,"wires":[]},{"id":"c3b94ddc.c5ba5","type":"comment","z":"51119cab.bd09e4","name":"Following code referes to \"/api/verfiy\" endpoint. which whill check if verfiy code is valid or not if valid then re-direct to Category screen else re-direct back to login screen","info":"","x":567.2421875,"y":638.59375,"wires":[]},{"id":"b32615d4.300398","type":"comment","z":"51119cab.bd09e4","name":"Login `/api/login` flow is following. To check existing number , send verification code, re-direct to verification screen are done by following code.","info":"","x":503.2421875,"y":76.6015625,"wires":[]},{"id":"8dd43d44.14e72","type":"function","z":"51119cab.bd09e4","name":"send sms code","func":"node.warn(msg)\nvar user_data = msg.payload.docs[0];\nvar code = user_data.code || 1234;\nmsg.topic = user_data.virtual_phone || 12145644732;\nmsg.payload = \"Your verification code for the Dri List app is : \" + code;\n\n\nmsg.api_response = {\n    \"page_id\":      11,\n    \"code\" : user_data.code\n};\n        \nreturn msg;","outputs":1,"noerr":0,"x":620.333324432373,"y":492.0000305175781,"wires":[["68dbd89e.fca588","6b286a5a.48b0e4","a754f892.2a9b28"]]},{"id":"68dbd89e.fca588","type":"debug","z":"51119cab.bd09e4","name":"Responded via Twilio","active":true,"tosidebar":true,"console":false,"complete":"true","x":884.3333129882812,"y":516,"wires":[]},{"id":"6b286a5a.48b0e4","type":"change","z":"51119cab.bd09e4","name":"change","rules":[{"t":"move","p":"api_response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":844.2005767822266,"y":412.16796875,"wires":[["38398a70.0617d6"]]},{"id":"38398a70.0617d6","type":"http response","z":"51119cab.bd09e4","name":"API Result","x":1019.3333129882812,"y":416.25,"wires":[]},{"id":"7c856c9f.706c74","type":"http response","z":"51119cab.bd09e4","name":"response","x":694.125,"y":1036.8984375,"wires":[]},{"id":"2fefd434.8028cc","type":"debug","z":"51119cab.bd09e4","name":"","active":true,"console":"false","complete":"false","x":892.8333435058594,"y":696.6666669845581,"wires":[]},{"id":"a754f892.2a9b28","type":"twilio out","z":"51119cab.bd09e4","service":"_ext_","twilio":"6e6ca2b2.e479bc","from":"","number":"","name":"","x":873.5,"y":468,"wires":[]},{"id":"513105ec.22f65c","type":"twilio out","z":"51119cab.bd09e4","service":"_ext_","twilio":"6e6ca2b2.e479bc","from":"","number":"","name":"","x":1398,"y":284,"wires":[]},{"id":"3570503f.5e9d9","type":"http request","z":"51119cab.bd09e4","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_bulk_docs","tls":"","x":185.90633392333984,"y":551.4549560546875,"wires":[["f9ed57be.7e6968"]]},{"id":"4265af46.9a57e","type":"function","z":"51119cab.bd09e4","name":"dri_list","func":"node.warn(msg);\nvar init_load = [\n\t\t {\n            payload: {\n                user_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id,\n                portal_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //company_id,\n                node_name: \"page1\",\n                data_id: msg.payload[0].id,// *CHANGE THIS *, \n                master_parents: [], //should be array in nature\n                tree_owner_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //tree_owner_id,\n                node_id: null,\n                target: \"child\",\n                parent_node_name: \"\",\n            },\n            fn_name: \"add_to_node_name_tree\"\n        }\n\t];\n\t\nmsg.payload = init_load ;\n//node.warn(msg.payload);\n// return msg;\n\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":498.90626525878906,"y":591.4548196792603,"wires":[["45a633e7.bb0eac"]]},{"id":"45a633e7.bb0eac","type":"Tree View","z":"51119cab.bd09e4","database":"dev-platform2","username":"cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix","password":"426407e26d2a0052c0f3c66c1e809f9465bf7c9671cc0a49bdb5fabd674e1cfc","operation":"prod","x":652.9062652587891,"y":592.4548196792603,"wires":[["6ae8c12.13edf4"]]},{"id":"6ae8c12.13edf4","type":"function","z":"51119cab.bd09e4","name":"dri_list","func":"node.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":805.3507232666016,"y":593.4548196792603,"wires":[[]]},{"id":"fc1cb30e.db879","type":"function","z":"51119cab.bd09e4","name":"dri_list","func":"node.warn(msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":352.90625,"y":422.4548645019531,"wires":[[]]},{"id":"83dcb1f3.ee551","type":"switch","z":"51119cab.bd09e4","name":"dri_list","property":"payload.docs[0]._id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":245.40281677246094,"y":493.3680839538574,"wires":[["8411b70f.6a3ac8"],["3570503f.5e9d9"]]},{"id":"57dcb9e4.d2c778","type":"function","z":"51119cab.bd09e4","name":"dri_list","func":"\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":560.9062461853027,"y":534.4548454284668,"wires":[[]]},{"id":"8411b70f.6a3ac8","type":"http request","z":"51119cab.bd09e4","name":"SearchFilter","method":"POST","ret":"obj","url":"https://cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix.cloudant.com/dev-platform2/_bulk_docs","tls":"","x":412.9063491821289,"y":525.4549713134766,"wires":[["57dcb9e4.d2c778"]]},{"id":"f9ed57be.7e6968","type":"switch","z":"51119cab.bd09e4","name":"dri_list","property":"alreadyExist","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":340.12847900390625,"y":580.8992919921875,"wires":[["4265af46.9a57e"]]},{"id":"b6bb9d1f.fb478","type":"twilio out","z":"51119cab.bd09e4","service":"_ext_","twilio":"6e6ca2b2.e479bc","from":"","number":"1231-225-9665 ","name":"","x":1162.3020782470703,"y":125.94792938232422,"wires":[]},{"id":"de6d7519.8fd2a8","type":"inject","z":"51119cab.bd09e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":975.9652862548828,"y":127.9618148803711,"wires":[["b6bb9d1f.fb478"]]},{"id":"6e6ca2b2.e479bc","type":"twilio-api","z":"","sid":"AC909f1981261f4461abbc7985bd202897","from":"12312259665","name":"Twilio SMS Service"}]
