CreateTreeStructure/CreateTreeStructure.json
[{"id":"7e2208b1.db0108","type":"inject","z":"fd45fa66.787ec8","name":"","topic":"start","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132,"y":117,"wires":[["3c981a51.980ef6"]]},{"id":"3c981a51.980ef6","type":"function","z":"fd45fa66.787ec8","name":"data.js","func":"var init_load = [\n\t\t{\n            payload: {\n                user_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //tree_owner_id, 72858af0dce6542155ddde7f3457c3e4\n                portal_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //tree_owner_id,\n                node_name: \"testGroup\", //group_name_company,\n                data_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //tree_owner_id,\n                master_parents: [], //tree_owner_id,\n                tree_owner_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\",\n                node_id: null, //node_id,\n                target: \"grand\",\n                parent_node_name: \"EmployeeBranch\"\n            },\n            fn_name: \"add_to_node_name_tree\"\n        }\n\t];\n\t\nmsg.payload = init_load ;\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["fc241cb6.72076","1728be94.31fd11"]]},{"id":"1728be94.31fd11","type":"Tree View","z":"fd45fa66.787ec8","database":"dev-platform2","username":"cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix","password":"426407e26d2a0052c0f3c66c1e809f9465bf7c9671cc0a49bdb5fabd674e1cfc","operation":"prod","x":522,"y":116,"wires":[["425624df.d2b3ac"]]},{"id":"425624df.d2b3ac","type":"debug","z":"fd45fa66.787ec8","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":200,"wires":[]},{"id":"fc241cb6.72076","type":"debug","z":"fd45fa66.787ec8","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":494,"y":58,"wires":[]},{"id":"4f5a435f.38a9ec","type":"comment","z":"fd45fa66.787ec8","name":"Create company (Root)","info":"","x":140,"y":40,"wires":[]},{"id":"2d802281.11fbfe","type":"function","z":"fd45fa66.787ec8","name":"data.js","func":"var system_id = \"e636c111b82ac2ee5a9f2ee446a9fe97\", //\"system_id\"; // user \n\tcompany_id = \"5af5dc1046a975faaed6a8d2d44126d1\", // Company Reminderbot Id \n\tuser_id_co = \"da9976858d8bda52021754cf1909a327\", // user\n\tuser_id_employee = \"0a9b50963bc76018418ffd857d551ced\", // user\n\tgroup_name_page = \"2_0\", //task\n\titem1 = \"2_3\", //item1\"; // detail associated with task above\n\titem2 = \"c01a40e0a39ab7071c72d422a5c96104\", // detail associated with task above\n\n\tinclude_data = true,\n\tinclude_head = false,\n\tmaster_parents = [],\n\tgroup_name_company = \"company\",\n\tgroup_name_employee = \"employees\",\n\n\tfn_name_add = \"add_to_node_name_tree\",\n\tfn_name_get = \"get_node_name_tree\",\n\tfn_name_del = \"delete_from_node_name_tree\",\n\tfn_get_page = \"get_page\",\n\tfn_get_page2 = \"get_page2\",\n\t\n\tname_add = \"add_to_node_name_tree\",\n\tname_get = \"get_node_name_tree\",\n\tname_del = \"delete_from_node_name_tree\",\n\tname_get_page = \"get_page\",\n\tnode_id = null,\n\ttree_owner_id = system_id,\n\ttemp_node_company = group_name_company + system_id,\n\ttemp_node_employee = group_name_employee + system_id,\n\ttemp_node_page = group_name_page + system_id;\n\n\nvar init_load = [\n\t\t{\n\t\t\t// set up grandfather for get_page\n\t\t\t//0\n\t\t\tpayload: {\n\t\t\t\tuser_id: tree_owner_id,\n\t\t\t\tportal_id: tree_owner_id,\n\t\t\t\tnode_name: name_get_page,\n\t\t\t\tdata_id: tree_owner_id,\n\t\t\t\tmaster_parents: master_parents,\n\t\t\t\ttree_owner_id: tree_owner_id,\n\t\t\t\tnode_id: node_id,\n\t\t\t\ttarget:\"grand\",\n\t\t\t\tparent_node_name:\"employees_group\",\n\t\t\t},\n\t\t\tfn_name: fn_name_add\n\t\t},\n\t\t{\n\t\t\t// set up grandfather for get_node_name_tree\n\t\t\t//1\n\t\t\tpayload: {\n\t\t\t\tuser_id: tree_owner_id,\n\t\t\t\tportal_id: tree_owner_id,\n\t\t\t\tnode_name: name_get,\n\t\t\t\tdata_id: tree_owner_id,\n\t\t\t\tmaster_parents: master_parents,\n\t\t\t\ttree_owner_id: tree_owner_id,\n\t\t\t\tnode_id: node_id,\n\t\t\t\ttarget:\"grand\",\n\t\t\t\tparent_node_name:\"employees_group\",\n\t\t\t},\n\t\t\tfn_name: fn_name_add\n\t\t},\n\t\t{\n\t\t\t// set up grandfather for add_to_node_name_tree\n\t\t\t//2\n\t\t\tpayload: {\n\t\t\t\tuser_id: tree_owner_id,\n\t\t\t\tportal_id: tree_owner_id,\n\t\t\t\tnode_name: name_add,\n\t\t\t\tdata_id: tree_owner_id,\n\t\t\t\tmaster_parents: master_parents,\n\t\t\t\ttree_owner_id: tree_owner_id,\n\t\t\t\tnode_id: node_id,\n\t\t\t\ttarget:\"grand\",\n\t\t\t\tparent_node_name:\"employees_group\",\n\t\t\t},\n\t\t\tfn_name: fn_name_add\n\t\t},\n\t\t{\n\t\t\t// set up grandfather for delete_from_node_name_tree\n\t\t\t//3\n\t\t\tpayload: {\n\t\t\t\tuser_id: tree_owner_id,\n\t\t\t\tportal_id: tree_owner_id,\n\t\t\t\tnode_name: name_del,\n\t\t\t\tdata_id: tree_owner_id,\n\t\t\t\tmaster_parents: master_parents,\n\t\t\t\ttree_owner_id: tree_owner_id,\n\t\t\t\tnode_id: node_id,\n\t\t\t\ttarget:\"grand\",\n\t\t\t\tparent_node_name:\"employees_group\",\n\t\t\t},\n\t\t\tfn_name: fn_name_add\n\t\t},\n// \t\t// system_id create system_id company node_name\n// \t\t// set up grandfather for \"company\"\n// \t\t// at the same time add those to the actions created above -- note companies can add, get, delete, get page\n// \t\t//4\n\t\t{\n\t\t\tpayload: {\n\t\t\t\tuser_id: tree_owner_id,\n\t\t\t\tportal_id: tree_owner_id,\n\t\t\t\tnode_name: group_name_company,\n\t\t\t\tdata_id: tree_owner_id,\n\t\t\t\tmaster_parents: [name_get_page + system_id, name_add + system_id, name_del + system_id, name_get+ system_id],\n\t\t\t\ttree_owner_id: tree_owner_id,\n\t\t\t\tnode_id: node_id,\n\t\t\t\ttarget:\"grand\",\n\t\t\t\tparent_node_name:\"employees_group\",\n\t\t\t},\n\t\t\tfn_name: fn_name_add\n\t\t},\n\n\t\t// system_id add reminder_bot_id to system_id company node_name  -- do this one per company -- add more companies similar way\n\t\t// company id ie reminderbot_id is now authroized to company stuff\n\t\t//5\n\t\t{\n\t\t\tpayload: {\n\t\t\t\tuser_id: system_id,\n\t\t\t\tportal_id: system_id,\n\t\t\t\tnode_name: group_name_company,\n\t\t\t\tdata_id: company_id,\n\t\t\t\tmaster_parents: master_parents,\n\t\t\t\ttree_owner_id: tree_owner_id,\n\t\t\t\tnode_id: node_id,\n\t\t\t\ttarget:\"parent\",\n\t\t\t\tparent_node_name:\"portal\",\n\t\t\t},\n\t\t\tfn_name: fn_name_add\n\t\t},\n\n// // \t\t// portal_id add a user to system_id comapany node_name -- add more users in similar way \n// // \t\t// user_id_co is now been authorized by reminder_bot_id to do company stuff \n// // \t\t//6\n// \t\t{\n// \t\t\tpayload: {\n// \t\t\t\tuser_id: system_id,\n// \t\t\t\tportal_id: company_id,\n// \t\t\t\tnode_name: group_name_company,\n// \t\t\t\tdata_id: user_id_co,\n// \t\t\t\tmaster_parents: master_parents,\n// \t\t\t\ttree_owner_id: tree_owner_id,\n// \t\t\t\tnode_id: node_id,\n// \t\t\t\ttarget: \"child\",\n// \t\t\t\tparent_node_name:\"\",\n// \t\t\t},\n// \t\t\tfn_name: fn_name_add\n// \t\t},\n// // \t\t//check if the \"company tree\" got added right\n// // \t\t//7\n// \t\t{\n// \t\t\tpayload: {\n// \t\t\t\tuser_id: system_id,\n// \t\t\t\tportal_id: system_id,\n// \t\t\t\tnode_name: group_name_company,\n// \t\t\t\tinclude_data:false,\n// \t\t\t\tinclude_head:true,\n// \t\t\t\ttree_owner_id: system_id\n// \t\t},\n// \t\t\tfn_name: fn_name_get\n// \t\t},\n// // \t\t// system_id create system_id employee node_name\n// // \t\t// at the same time add those to the actions created above -- this one per node_name\n// // \t\t// employees cannot delete\n// // \t\t//8\n// \t\t{\n// \t\t    payload :  {\n//              user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tsystem_id, \n// \t\t\t\tnode_name: \t\t\tgroup_name_employee, \n// \t\t\t\tdata_id: \t\t\tsystem_id, \n// \t\t\t\tmaster_parents: \t[\"get_node_name_tree\"+system_id, \"add_to_node_name_tree\"+system_id], \n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\n// \t\t\t\ttarget: \t\t\t\"grand\",\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t},\n// \t\t\tfn_name:fn_name_add\n// \t\t},\n\n// // \t\t// system_id add reminderbot_id to system_id company node_name  -- do this one per company -- add more companies similar way\n// // \t\t//9\n// \t\t{\n// \t\t\tpayload :  {user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tsystem_id, \n// \t\t\t\tnode_name: \t\t\tgroup_name_employee, \n// \t\t\t\tdata_id: \t\t\tcompany_id, \n// \t\t\t\tmaster_parents: \tmaster_parents,\n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\n// \t\t\t\ttarget: \t\t\t\"parent\" ,\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t},\n// \t\t\tfn_name:fn_name_add\n// \t\t},\n\n// // \t\t// portal_id add a user to system_id comapany node_name -- add more users in similar way \n// // \t\t// user_id_employee has not been authorized to do reminderbot_id employee stuff\n// // \t\t//10\n// \t\t{\n// \t\t\tpayload :  {user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tcompany_id, \n// \t\t\t\tnode_name: \t\t\tgroup_name_employee, \n// \t\t\t\tdata_id: \t\t\tuser_id_employee, \n// \t\t\t\tmaster_parents: \tmaster_parents,\n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\n// \t\t\t\ttarget: \t\t\t\"child\",\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t},\n// \t\t\tfn_name:fn_name_add\n// \t\t},\n// // \t\t// view results of group_name_company\n// \t\t//11\n// \t\t\t\t{\n// \t\t\tpayload: {\n// \t\t\t\tuser_id: system_id,\n// \t\t\t\tportal_id: system_id,\n// \t\t\t\tnode_name: group_name_employee,\n// \t\t\t\tinclude_data:false,\n// \t\t\t\tinclude_head:true,\n// \t\t\t\ttree_owner_id: system_id\n// \t\t},\n// \t\t\tfn_name: fn_name_get\n// \t\t},\n// // \t\t//12\n// \t\t{\n// \t\t\tpayload :  {user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tcompany_id, \n// \t\t\t\tnode_name: \t\t\tgroup_name_employee, \n// \t\t\t\tdata_id: \t\t\tuser_id_co, \n// \t\t\t\tmaster_parents: \tmaster_parents,\n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\n// \t\t\t\ttarget: \t\t\t\"child\",\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t},\n// \t\t\tfn_name:fn_name_add\n// \t\t},\n// \t\t//13\n// \t\t\t\t\t\t{\n// \t\t\tpayload: {\n// \t\t\t\tuser_id: system_id,\n// \t\t\t\tportal_id: company_id,\n// \t\t\t\tnode_name: group_name_employee,\n// \t\t\t\tinclude_data:false,\n// \t\t\t\tinclude_head:true,\n// \t\t\t\ttree_owner_id: system_id\n// \t\t},\n// \t\t\tfn_name: fn_name_get\n// \t\t},\n\n\n// // \t\t// #14\n// // \t\t//add page to existing company record\n// \t\t{payload :  {user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tsystem_id, \n// \t\t\t\tnode_name: \t\t\tgroup_name_company, \n// \t\t\t\tdata_id: \t\t\tgroup_name_page, // the id of the page is like reminder_bot\n// \t\t\t\tmaster_parents: \tmaster_parents,\n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\t\n// \t\t\t\ttarget: \t\t\t\"parent\",\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t},\n// \t\t\tfn_name:fn_name_add\n// \t\t},\n\n// // \t\t//15\n// // \t\t// add specific ITEMS to this company/page\n// \t\t{payload :  {user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tgroup_name_page, \n// \t\t\t\tnode_name: \t\t\tgroup_name_company, \n// \t\t\t\tdata_id: \t\t\titem1, \n// \t\t\t\tmaster_parents: \tmaster_parents,\n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\n// \t\t\t\ttarget: \t\t\t\"child\",\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t},\n// \t\t\tfn_name:fn_name_add\n// \t\t},\n// // \t\t//16\n// \t\t{payload :  {user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tgroup_name_page, \n// \t\t\t\tnode_name: \t\t\tgroup_name_company, \n// \t\t\t\tdata_id: \t\t\titem2, \n// \t\t\t\tmaster_parents: \tmaster_parents,\n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\n// \t\t\t\ttarget: \t\t\t\"child\",\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t},\n// \t\t\tfn_name:fn_name_add\n// \t\t},\n\n// \t\t//17\n// \t\t// add parent of page to employees\n// \t\t{payload :  {user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tsystem_id, \n// \t\t\t\tnode_name: \t\t\tgroup_name_employee,\n// \t\t\t\tdata_id: \t\t\tgroup_name_page, \n// \t\t\t\tmaster_parents: \tmaster_parents,\n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\n// \t\t\t\ttarget: \t\t\t\"parent\",\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t}, \n// \t\t\tfn_name:fn_name_add\n// \t\t},\n// // \t\t// 18\n// // \t\t// add specific ITEMS to this employee/page\n// \t\t{payload :  {user_id: \t\tsystem_id, \n// \t\t\t\tportal_id: \t\t\tgroup_name_page, \n// \t\t\t\tnode_name: \t\t\tgroup_name_employee,\n// \t\t\t\tdata_id: \t\t\titem1, \n// \t\t\t\tmaster_parents: \tmaster_parents,\n// \t\t\t\ttree_owner_id: \t\ttree_owner_id, \n// \t\t\t\tnode_id: \t\t\tnode_id,\n// \t\t\t\ttarget: \t\t\t\"child\",\n// \t\t\t\tparent_node_name: \t\"\",\n// \t\t},\n// \t\t\tfn_name:fn_name_add\n// \t\t},\n// // \t\t//19\n// \t\t{\n// \t\t\tpayload: {\n// \t\t\t\tuser_id: system_id,\n// \t\t\t\tportal_id: group_name_page,\n// \t\t\t\tnode_name: group_name_company,\n// \t\t\t\tinclude_data:false,//true,\n// \t\t\t\tinclude_head:false,\n// \t\t\t\ttree_owner_id: system_id\n// \t\t},\n// \t\t\tfn_name: fn_name_get\n// \t\t},\n// \t\t//20\n// \t\t{\n// \t\t\tpayload: {\n// \t\t\t\tuser_id: system_id,\n// \t\t\t\tportal_id: group_name_page,\n// \t\t\t\tnode_name: group_name_employee,\n// \t\t\t\tinclude_data:false,\n// \t\t\t\tinclude_head:false,\n// \t\t\t\ttree_owner_id: system_id\n// \t\t},\n// \t\t\tfn_name: fn_name_get\n// \t\t},\n// \t\t//21\n// \t\t//now get\n// \t\t{\n// \t\t    payload :  {\n// \t\t        user_id: \t\t    user_id_employee, //or user_id_co\n// \t\t\t\tportal_id: \t\t\tcompany_id, \n// \t\t\t\tpage_id:  \t\t\tgroup_name_page,\n// \t\t\t\tfilter: \t\t\tnull\n// \t\t},\n// \t\t\tfn_name:fn_get_page\n// \t\t},\n// \t\t{\n// \t\t    payload: {\n// \t\t        user_id: user_id_employee, //or user_id_co\n// \t\t        portal_id: company_id,\n// \t\t        page_id: group_name_page,\n// \t\t        filter: [group_name_employee, group_name_company] //group_name_company\n// \t\t    },\n// \t\t    fn_name: fn_get_page\n// \t\t}\n\t];\n\n// var init_load = [\n    // {\n    //     payload: {\n    //         user_id: system_id,\n    //         portal_id: company_id,\n    //         node_name: group_name_employee,\n    //         data_id: \"51fd8f4edcac9037a23548efd2805586\",\n    //         master_parents: master_parents,\n    //         tree_owner_id: tree_owner_id,\n    //         node_id: node_id,\n    //         target: \"child\",\n    //         parent_node_name: \"\",\n    //     },\n    //      fn_name: \"add_to_node_name_tree\"\n    // }\n//     {\n//         payload: {\n//             user_id: system_id,\n//             portal_id: system_id,\n//             node_name: group_name_employee,\n//             include_data: false,\n//             include_head: true,\n//             tree_owner_id: system_id\n//         },\n//         fn_name: fn_name_get\n//     }\n// ];\n\nmsg.payload = init_load ;\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":331,"wires":[["29a43d11.14e032"]]},{"id":"d190a76f.b04498","type":"inject","z":"fd45fa66.787ec8","name":"","topic":"start","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132,"y":335,"wires":[["2d802281.11fbfe"]]},{"id":"29a43d11.14e032","type":"Tree View","z":"fd45fa66.787ec8","database":"dev-platform2","username":"cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix","password":"426407e26d2a0052c0f3c66c1e809f9465bf7c9671cc0a49bdb5fabd674e1cfc","operation":"prod","x":498,"y":324,"wires":[["85d7275a.4c6d68"]]},{"id":"85d7275a.4c6d68","type":"debug","z":"fd45fa66.787ec8","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":324,"wires":[]},{"id":"d043cfb5.0aed6","type":"comment","z":"fd45fa66.787ec8","name":"Create database functions for company (Root)","info":"","x":206,"y":272,"wires":[]},{"id":"4c38e057.f811c","type":"function","z":"fd45fa66.787ec8","name":"data.js","func":"var init_load = [\n\t\t{\n            payload: {\n                user_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id,\n                portal_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id,\n                node_name: \"testGroup\",\n                data_id: \"47465f5fb22a9d9b0ec7ef7f72d03768\", //company_id\n                master_parents: [],\n                tree_owner_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //tree_owner_id,\n                node_id: null,\n                target: \"parent\",\n                parent_node_name: \"\"\n            },\n            fn_name: \"add_to_node_name_tree\", //fn_name_add\n        }\n\t];\n\t\nmsg.payload = init_load ;\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":528,"wires":[["8c6a3f22.62eab"]]},{"id":"49deba56.63a3c4","type":"inject","z":"fd45fa66.787ec8","name":"","topic":"start","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":532,"wires":[["4c38e057.f811c"]]},{"id":"8c6a3f22.62eab","type":"Tree View","z":"fd45fa66.787ec8","database":"dev-platform2","username":"cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix","password":"426407e26d2a0052c0f3c66c1e809f9465bf7c9671cc0a49bdb5fabd674e1cfc","operation":"prod","x":482,"y":521,"wires":[["11493495.4df98b"]]},{"id":"11493495.4df98b","type":"debug","z":"fd45fa66.787ec8","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":664,"y":521,"wires":[]},{"id":"ee88354d.2c6468","type":"comment","z":"fd45fa66.787ec8","name":"Create parent (Portals)","info":"","x":120,"y":469,"wires":[]},{"id":"61362678.d23778","type":"function","z":"fd45fa66.787ec8","name":"data.js","func":"var init_load = [\n\t\t {\n            payload: {\n                user_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id,\n                portal_id: \"47465f5fb22a9d9b0ec7ef7f72d03768\", //company_id,\n                node_name: \"testGroup\",\n                data_id: \"2\",// *CHANGE THIS *, \n                master_parents: [], //should be array in nature\n                tree_owner_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //tree_owner_id,\n                node_id: null,\n                target: \"child\",\n                parent_node_name: \"\",\n            },\n            fn_name: \"add_to_node_name_tree\"\n        }\n\t];\n\t\nmsg.payload = init_load ;\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":700,"wires":[["f5be77b0.62b548"]]},{"id":"76d1f890.568528","type":"inject","z":"fd45fa66.787ec8","name":"","topic":"start","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":703,"wires":[["61362678.d23778"]]},{"id":"f5be77b0.62b548","type":"Tree View","z":"fd45fa66.787ec8","database":"dev-platform2","username":"cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix","password":"426407e26d2a0052c0f3c66c1e809f9465bf7c9671cc0a49bdb5fabd674e1cfc","operation":"prod","x":478,"y":692,"wires":[["81baf01.a43ad1","e159cd32.010cb"]]},{"id":"81baf01.a43ad1","type":"debug","z":"fd45fa66.787ec8","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":692,"wires":[]},{"id":"50e12579.43b0dc","type":"comment","z":"fd45fa66.787ec8","name":"Create child (Field Data)","info":"","x":116,"y":640,"wires":[]},{"id":"eb2b9f34.21231","type":"function","z":"fd45fa66.787ec8","name":"data.js","func":"var init_load = [\n\t\t{\n\t\t\tpayload: {\n\t\t\t\tuser_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id, 0e5b7ed337ed1bf69f61549a4c8f11df\n\t\t\t\tportal_id: \"47465f5fb22a9d9b0ec7ef7f72d03768\", //system_id,\n\t\t\t\tnode_name: \"testGroup\", //group_name_company,\n\t\t\t\tinclude_data:true,\n\t\t\t\tinclude_head:true,\n\t\t\t\ttree_owner_id: \"e636c111b82ac2ee5a9f2ee446a9fe97\", //system_id\n\t\t},\n\t\t\tfn_name: \"get_node_name_tree\"\n\t\t}\n\t];\n\t\nmsg.payload = init_load ;\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":860,"wires":[["5c41c586.37810c"]]},{"id":"d9fa063.1a976f8","type":"inject","z":"fd45fa66.787ec8","name":"","topic":"start","payload":"start1","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":863,"wires":[["eb2b9f34.21231"]]},{"id":"5c41c586.37810c","type":"Tree View","z":"fd45fa66.787ec8","database":"dev-platform2","username":"cc56f34b-f581-49b9-a9d7-732fe5c71b9c-bluemix","password":"426407e26d2a0052c0f3c66c1e809f9465bf7c9671cc0a49bdb5fabd674e1cfc","operation":"prod","x":476,"y":842,"wires":[["e905353d.0d4668"]]},{"id":"e905353d.0d4668","type":"debug","z":"fd45fa66.787ec8","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":658,"y":852,"wires":[]},{"id":"f8d46cd0.9e526","type":"comment","z":"fd45fa66.787ec8","name":"Fetch data","info":"","x":74,"y":800,"wires":[]},{"id":"e159cd32.010cb","type":"function","z":"fd45fa66.787ec8","name":"data.js","func":"node.warn(msg)\n\t\n// msg.payload = init_load ;\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":739,"wires":[[]]}]
